{# Tables #}
<div class="grid_24">
    <table>
    <thead><tr>
       <th colspan="6" style='text-align: center;' id='th_Ad1Lidsensor' title='AD1 Monitors'></th>
    </tr></thead>
    <tbody>
        <tr>
            <td class='descr'>GdLS Level: Ultrasonic</td><td class='value' id='td_Ad1Lidsensor__ultrasonic_gdls'></td>
            <td class='descr'>LS Level: Ultrasonic</td><td class='value' id='td_Ad1Lidsensor__ultrasonic_ls'></td>
            <td class='descr'></td><td class='value'></td>
        </tr>
        <tr>
            <td class='descr'>GdLS Level: Capacitance</td><td class='value' id='td_Ad1Lidsensor__capacitance_gdls'></td>
            <td class='descr'>LS Level: Capacitance</td><td class='value' id='td_Ad1Lidsensor__capacitance_ls'></td>
            <td class='descr'>MO Level: Capacitance</td><td class='value' id='td_Ad1Lidsensor__capacitance_mo'></td>
        </tr>
        <tr>
            <td class='descr'>GdLS Temperature</td><td class='value' id='td_Ad1Lidsensor__temp_gdls'></td>
            <td class='descr'>LS Temperature</td><td class='value' id='td_Ad1Lidsensor__temp_ls'></td>
            <td class='descr'></td><td class='value'></td>
        </tr>
        <tr>
            <td class='descr'>GdLS Temperature: Capacitance</td><td class='value' id='td_Ad1Lidsensor__capacitance_temp_gdls'></td>
            <td class='descr'>LS Temperature: Capacitance</td><td class='value' id='td_Ad1Lidsensor__capacitance_temp_ls'></td>
            <td class='descr'>MO Temperature: Capacitance</td><td class='value'  id='td_Ad1Lidsensor__capacitance_temp_mo'></td>
        </tr>
    </tbody>
    <thead><tr>
       <th colspan="6" style='text-align: center;' id='th_DbnsEnvPth' title='EH1 Environment Monitors'></th>
    </tr></thead>
        <tr>
            <td class='descr'>Temperature 1</td><td class='value' id='td_DbnsEnvPth__dbns_pth_t1'></td>
            <td class='descr'>Humidity 1</td><td class='value' id='td_DbnsEnvPth__dbns_pth_h1'></td>
            <td class='descr'>Pressure 1</td><td class='value' id='td_DbnsEnvPth__dbns_pth_p1'></td>
        </tr>
        <tr>
            <td class='descr'>Temperature 2</td><td class='value'  id='td_DbnsEnvPth__dbns_pth_t2'></td>
            <td class='descr'>Humidity 2</td><td class='value' id='td_DbnsEnvPth__dbns_pth_h2'></td>
            <td class='descr'>Pressure 2</td><td class='value' id='td_DbnsEnvPth__dbns_pth_p2'></td>
        </tr>
    </table>
</div>
<div class="clear"></div>


{# Charts #}

<div class = "grid_24" style='margin-top:30px;'>
     <h4 align='center' id='select_days'> 
         <a href="#" days='1'>Last Day</a>&nbsp;|&nbsp;
         <a href="#" days='7'>Week</a>&nbsp;|&nbsp;
         <a href="#" days='31'>Month</a>&nbsp;|&nbsp;
         <a href="#" days='365'>Year</a>
    </h4>
</div>    
<div class="clear"></div>

<div class = "grid_24">
     <h2>
         AD1 Monitors
    </h2>
</div>    
<div class="clear"></div>

{# Liquid Level #}
<div class = "grid_24 ui-widget-header ui-corner-all dcs_header">
     <h3 align='center' >
         Liquid Level: Ultrasonic
    </h3>
</div>    
<div class="clear"></div>
<div id="Ad1Lidsensor__ultrasonic_gdls" class="dcs_chart grid_12">
</div>
<div id="Ad1Lidsensor__ultrasonic_ls" class="dcs_chart grid_12">
</div>
<div class="clear"></div>

<div class = "grid_24 ui-widget-header ui-corner-all dcs_header">
     <h3 align='center'>
         Liquid Level: Capacitance
    </h3>
</div>    
<div class="clear"></div>
<div id="Ad1Lidsensor__capacitance_gdls" class="dcs_chart grid_12"></div>
<div id="Ad1Lidsensor__capacitance_ls" class="dcs_chart grid_12"></div>
<div class="clear"></div>
<div id="Ad1Lidsensor__capacitance_mo" class="dcs_chart grid_12"></div>
<div class="clear"></div>

{# Lid Temperature #}
<div class = "grid_24 ui-widget-header ui-corner-all dcs_header">
     <h3 align='center'>
         Temperature
    </h3>
</div>    
<div class="clear"></div>
<div id="Ad1Lidsensor__temp_gdls" class="dcs_chart grid_12"></div>
<div id="Ad1Lidsensor__temp_ls" class="dcs_chart grid_12"></div>
<div class="clear"></div>

<div class = "grid_24 ui-widget-header ui-corner-all dcs_header">
     <h3 align='center'>
         Temperature: Capacitance
    </h3>
</div>    
<div class="clear"></div>
<div id="Ad1Lidsensor__capacitance_temp_gdls" class="dcs_chart grid_12"></div>
<div id="Ad1Lidsensor__capacitance_temp_ls" class="dcs_chart grid_12"></div>
<div class="clear"></div>
<div id="Ad1Lidsensor__capacitance_temp_mo" class="dcs_chart grid_12"></div>
<div class="clear"></div>

{# Environment #}
<div class = "grid_24">
     <h2>
         EH1 Environment Monitors
    </h2>
</div>    
<div class="clear"></div>

<div class = "grid_24 ui-widget-header ui-corner-all dcs_header">
     <h3 align='center'>
         Temperature
    </h3>
</div>    
<div class="clear"></div>

<div id="DbnsEnvPth__dbns_pth_t1" class="dcs_chart grid_12"></div>
<div id="DbnsEnvPth__dbns_pth_t2" class="dcs_chart grid_12"></div>
<div class="clear"></div>

<div class = "grid_24 ui-widget-header ui-corner-all dcs_header">
     <h3 align='center'>
         Humidity
    </h3>
</div>    
<div class="clear"></div>
<div id="DbnsEnvPth__dbns_pth_h1" class="dcs_chart grid_12"></div>
<div id="DbnsEnvPth__dbns_pth_h2" class="dcs_chart grid_12"></div>
<div class="clear"></div>

<div class = "grid_24 ui-widget-header ui-corner-all dcs_header">
     <h3 align='center'>
         Pressure
    </h3>
</div>    
<div class="clear"></div>
<div id="DbnsEnvPth__dbns_pth_p1" class="dcs_chart grid_12"></div>
<div id="DbnsEnvPth__dbns_pth_p2" class="dcs_chart grid_12"></div>
<div class="clear"></div>
