{% extends "dcs/monitor.html" %}

{% block dcs_content %}

{# Tables #}
{% load range %}
{% mkrange 1 9 1 as ladder_range %}
{% mkrange 1 4 1 as column_range %}
{% mkrange 1 9 1 as row_range %}

{# HV #}
<div class = "grid_24">
	<a name="HV"></a>    
     <h2>
         HV Monitor
    </h2>
</div>    
<div class="clear"></div>

<div class="grid_24" style='margin-bottom: 10px;'>
    <table class='elec_table' id='table_DbnsAd1Hv'>
	<thead><tr>
		<th colspan="2" style='text-align: center;' id='th_DbnsAd1Hv'>AD1 PMT HV</th>
		<th colspan="6" style='text-align: center;' class='th_last_update good'></th>
	</tr></thead>
    <tbody>
        <tr>
			<td><a class='HV live' id='DbnsAd1Hv__l1' href='#'>&nbsp; Ladder 1 &nbsp;</a></td>
			<td><a class='HV live' id='DbnsAd1Hv__l2' href='#'>&nbsp; Ladder 2 &nbsp;</a></td>
			<td><a class='HV live' id='DbnsAd1Hv__l3' href='#'>&nbsp; Ladder 3 &nbsp;</a></td>
			<td><a class='HV live' id='DbnsAd1Hv__l4' href='#'>&nbsp; Ladder 4 &nbsp;</a></td>
			<td><a class='HV live' id='DbnsAd1Hv__l5' href='#'>&nbsp; Ladder 5 &nbsp;</a></td>
			<td><a class='HV live' id='DbnsAd1Hv__l6' href='#'>&nbsp; Ladder 6 &nbsp;</a></td>
			<td><a class='HV live' id='DbnsAd1Hv__l7' href='#'>&nbsp; Ladder 7 &nbsp;</a></td>
			<td><a class='HV live' id='DbnsAd1Hv__l8' href='#'>&nbsp; Ladder 8 &nbsp;</a></td>
		</tr>
    </tbody>
	</table>
</div>
<div class="clear"></div>

{% for ladder in ladder_range %}
<table class='elec_table hidden' id='table_DbnsAd1Hv__l{{ ladder }}'>
	<tr>
		<td>ladder {{ ladder }}</td>
    	{% for column in column_range %}
    	<td>column {{ column }}</td>
    	{% endfor %}
    </tr>

    {% for row in row_range %}
    <tr>
        <td>row {{ row }}</td>
        {% for column in column_range %}
        <td class='sc' id='td_DbnsAd1Hv__l{{ladder}}c{{column}}r{{row}}'></td>
        {% endfor %}
    </tr>
    {% endfor %}

	</tr>
</table>
{% endfor %}

<div class="grid_24" style='margin-bottom: 10px;'>
    <table class='elec_table' id='table_DbnsAd2Hv'>
	<thead><tr>
		<th colspan="2" style='text-align: center;' id='th_DbnsAd2Hv'>AD2 PMT HV</th>
		<th colspan="6" style='text-align: center;' class='th_last_update good'></th>
	</tr></thead>
    <tbody>
        <tr>
			<td><a class='HV live' id='DbnsAd2Hv__l1' href='#'>&nbsp; Ladder 1 &nbsp;</a></td>
			<td><a class='HV live' id='DbnsAd2Hv__l2' href='#'>&nbsp; Ladder 2 &nbsp;</a></td>
			<td><a class='HV live' id='DbnsAd2Hv__l3' href='#'>&nbsp; Ladder 3 &nbsp;</a></td>
			<td><a class='HV live' id='DbnsAd2Hv__l4' href='#'>&nbsp; Ladder 4 &nbsp;</a></td>
			<td><a class='HV live' id='DbnsAd2Hv__l5' href='#'>&nbsp; Ladder 5 &nbsp;</a></td>
			<td><a class='HV live' id='DbnsAd2Hv__l6' href='#'>&nbsp; Ladder 6 &nbsp;</a></td>
			<td><a class='HV live' id='DbnsAd2Hv__l7' href='#'>&nbsp; Ladder 7 &nbsp;</a></td>
			<td><a class='HV live' id='DbnsAd2Hv__l8' href='#'>&nbsp; Ladder 8 &nbsp;</a></td>
		</tr>
    </tbody>
	</table>
</div>
<div class="clear"></div>

{% for ladder in ladder_range %}
<table class='elec_table hidden' id='table_DbnsAd2Hv__l{{ ladder }}'>
	<tr>
		<td>ladder {{ ladder }}</td>
	    {% for column in column_range %}
	    <td>column {{ column }}</td>
	    {% endfor %}
    </tr>

    {% for row in row_range %}
    <tr>
        <td>row {{ row }}</td>
        {% for column in column_range %}
        <td class='sc' id='td_DbnsAd2Hv__l{{ladder}}c{{column}}r{{row}}'></td>
        {% endfor %}
    </tr>
    {% endfor %}
	</tr>
</table>
{% endfor %}

<div class="grid_24" style='margin-bottom: 10px;'>
    <table class='elec_table' id='table_DbnsRpcHvVmon'>
	<thead><tr>
		<th colspan="3" style='text-align: center;' id='th_DbnsRpcHvVmon'>RPC HV</th>
		<th colspan="9" style='text-align: center;' class='th_last_update good'></th>
	</tr></thead>
    <tbody>
	    <tr>
			<th>&nbsp; 00 &nbsp;</th>
			<th>&nbsp; 01 &nbsp;</th>
			<th>&nbsp; 02 &nbsp;</th>
			<th>&nbsp; 03 &nbsp;</th>
			<th>&nbsp; 04 &nbsp;</th>
			<th>&nbsp; 05 &nbsp;</th>
			<th>&nbsp; 06 &nbsp;</th>
			<th>&nbsp; 07 &nbsp;</th>
			<th>&nbsp; 08 &nbsp;</th>
			<th>&nbsp; 09 &nbsp;</th>
			<th>&nbsp; 10 &nbsp;</th>
			<th>&nbsp; 11 &nbsp;</th>
		</tr>
        <tr>
			<td class='sc' id='td_DbnsRpcHvVmon__dbns_fo00n' ></td>
			<td class='sc' id='td_DbnsRpcHvVmon__dbns_fo01n' ></td>
			<td class='sc' id='td_DbnsRpcHvVmon__dbns_fo02n' ></td>
			<td class='sc' id='td_DbnsRpcHvVmon__dbns_fo03n' ></td>
			<td class='sc' id='td_DbnsRpcHvVmon__dbns_fo04n' ></td>
			<td class='sc' id='td_DbnsRpcHvVmon__dbns_fo05n' ></td>
			<td class='sc' id='td_DbnsRpcHvVmon__dbns_fo06n' ></td>
			<td class='sc' id='td_DbnsRpcHvVmon__dbns_fo07n' ></td>
			<td class='sc' id='td_DbnsRpcHvVmon__dbns_fo08n' ></td>
			<td class='sc' id='td_DbnsRpcHvVmon__dbns_fo09n' ></td>
			<td class='sc' id='td_DbnsRpcHvVmon__dbns_fo10n' ></td>
			<td class='sc' id='td_DbnsRpcHvVmon__dbns_fo11n' ></td>
		</tr>
		<tr>
			<th>&nbsp; 12 &nbsp;</th>
			<th>&nbsp; 13 &nbsp;</th>
			<th>&nbsp; 14 &nbsp;</th>
			<th>&nbsp; 15 &nbsp;</th>
			<th>&nbsp; 16 &nbsp;</th>
			<th>&nbsp; 17 &nbsp;</th>
			<th>&nbsp; 18 &nbsp;</th>
			<th>&nbsp; 19 &nbsp;</th>
			<th>&nbsp; 20 &nbsp;</th>
			<th>&nbsp; 21 &nbsp;</th>
			<th>&nbsp; 22 &nbsp;</th>
			<th>&nbsp; 23 &nbsp;</th>
		</tr>
        <tr>
			<td class='sc' id='td_DbnsRpcHvVmon__dbns_fo12n' ></td>
			<td class='sc' id='td_DbnsRpcHvVmon__dbns_fo13n' ></td>
			<td class='sc' id='td_DbnsRpcHvVmon__dbns_fo14n' ></td>
			<td class='sc' id='td_DbnsRpcHvVmon__dbns_fo15n' ></td>
			<td class='sc' id='td_DbnsRpcHvVmon__dbns_fo16n' ></td>
			<td class='sc' id='td_DbnsRpcHvVmon__dbns_fo17n' ></td>
			<td class='sc' id='td_DbnsRpcHvVmon__dbns_fo18n' ></td>
			<td class='sc' id='td_DbnsRpcHvVmon__dbns_fo19n' ></td>
			<td class='sc' id='td_DbnsRpcHvVmon__dbns_fo20n' ></td>
			<td class='sc' id='td_DbnsRpcHvVmon__dbns_fo21n' ></td>
			<td class='sc' id='td_DbnsRpcHvVmon__dbns_fo22n' ></td>
			<td class='sc' id='td_DbnsRpcHvVmon__dbns_fo23n' ></td>
		</tr>
    </tbody>
	</table>
</div>
<div class="clear"></div>

{# VME Temperature #}
<div class = "grid_24">
	<a name="VME"></a>    
     <h2>
         VME Temperature Monitor
    </h2>
</div>    
<div class="clear"></div>

<div class="grid_24" style='margin-bottom: 10px;'>
    <table class='elec_table' id='table_DbnsAd1Vme'>
	<thead><tr>
		<th colspan="2" style='text-align: center;' id='th_DbnsAd1Vme'>AD1 VME</th>
		<th colspan="6" style='text-align: center;' class='th_last_update good'></th>
	</tr></thead>
    <tbody>
	    <tr>
			<th>&nbsp; 1 &nbsp;</th>
			<th>&nbsp; 2 &nbsp;</th>
			<th>&nbsp; 3 &nbsp;</th>
			<th>&nbsp; 4 &nbsp;</th>
			<th>&nbsp; 5 &nbsp;</th>
			<th>&nbsp; 6 &nbsp;</th>
			<th>&nbsp; 7 &nbsp;</th>
			<th>&nbsp; 8 &nbsp;</th>
		</tr>
        <tr>
			<td class='sc' id='td_DbnsAd1Vme__temperature1' ></td>
			<td class='sc' id='td_DbnsAd1Vme__temperature2' ></td>
			<td class='sc' id='td_DbnsAd1Vme__temperature3' ></td>
			<td class='sc' id='td_DbnsAd1Vme__temperature4' ></td>
			<td class='sc' id='td_DbnsAd1Vme__temperature5' ></td>
			<td class='sc' id='td_DbnsAd1Vme__temperature6' ></td>
			<td class='sc' id='td_DbnsAd1Vme__temperature7' ></td>
			<td class='sc' id='td_DbnsAd1Vme__temperature8' ></td>
		</tr>
    </tbody>
	</table>
</div>
<div class="clear"></div>

<div class="grid_24" style='margin-bottom: 10px;'>
    <table class='elec_table' id='table_DbnsAd2Vme'>
	<thead><tr>
		<th colspan="2" style='text-align: center;' id='th_DbnsAd2Vme'>AD2 VME</th>
		<th colspan="6" style='text-align: center;' class='th_last_update good'></th>
	</tr></thead>
    <tbody>
	    <tr>
			<th>&nbsp; 1 &nbsp;</th>
			<th>&nbsp; 2 &nbsp;</th>
			<th>&nbsp; 3 &nbsp;</th>
			<th>&nbsp; 4 &nbsp;</th>
			<th>&nbsp; 5 &nbsp;</th>
			<th>&nbsp; 6 &nbsp;</th>
			<th>&nbsp; 7 &nbsp;</th>
			<th>&nbsp; 8 &nbsp;</th>
		</tr>
        <tr>
			<td class='sc' id='td_DbnsAd2Vme__temperature1' ></td>
			<td class='sc' id='td_DbnsAd2Vme__temperature2' ></td>
			<td class='sc' id='td_DbnsAd2Vme__temperature3' ></td>
			<td class='sc' id='td_DbnsAd2Vme__temperature4' ></td>
			<td class='sc' id='td_DbnsAd2Vme__temperature5' ></td>
			<td class='sc' id='td_DbnsAd2Vme__temperature6' ></td>
			<td class='sc' id='td_DbnsAd2Vme__temperature7' ></td>
			<td class='sc' id='td_DbnsAd2Vme__temperature8' ></td>
		</tr>
    </tbody>
	</table>
</div>
<div class="clear"></div>

<div class="grid_24" style='margin-bottom: 10px;'>
    <table class='elec_table' id='table_DbnsIWVme'>
	<thead><tr>
		<th colspan="2" style='text-align: center;' id='th_DbnsIWVme'>Inner WP VME</th>
		<th colspan="6" style='text-align: center;' class='th_last_update good'></th>
	</tr></thead>
    <tbody>
	    <tr>
			<th>&nbsp; 1 &nbsp;</th>
			<th>&nbsp; 2 &nbsp;</th>
			<th>&nbsp; 3 &nbsp;</th>
			<th>&nbsp; 4 &nbsp;</th>
			<th>&nbsp; 5 &nbsp;</th>
			<th>&nbsp; 6 &nbsp;</th>
			<th>&nbsp; 7 &nbsp;</th>
			<th>&nbsp; 8 &nbsp;</th>
		</tr>
        <tr>
			<td class='sc' id='td_DbnsIWVme__temperature1' ></td>
			<td class='sc' id='td_DbnsIWVme__temperature2' ></td>
			<td class='sc' id='td_DbnsIWVme__temperature3' ></td>
			<td class='sc' id='td_DbnsIWVme__temperature4' ></td>
			<td class='sc' id='td_DbnsIWVme__temperature5' ></td>
			<td class='sc' id='td_DbnsIWVme__temperature6' ></td>
			<td class='sc' id='td_DbnsIWVme__temperature7' ></td>
			<td class='sc' id='td_DbnsIWVme__temperature8' ></td>
		</tr>
    </tbody>
	</table>
</div>
<div class="clear"></div>

<div class="grid_24" style='margin-bottom: 10px;'>
    <table class='elec_table' id='table_DbnsOWVme'>
	<thead><tr>
		<th colspan="2" style='text-align: center;' id='th_DbnsOWVme'>Outer WP VME</th>
		<th colspan="6" style='text-align: center;' class='th_last_update good'></th>
	</tr></thead>
    <tbody>
	    <tr>
			<th>&nbsp; 1 &nbsp;</th>
			<th>&nbsp; 2 &nbsp;</th>
			<th>&nbsp; 3 &nbsp;</th>
			<th>&nbsp; 4 &nbsp;</th>
			<th>&nbsp; 5 &nbsp;</th>
			<th>&nbsp; 6 &nbsp;</th>
			<th>&nbsp; 7 &nbsp;</th>
			<th>&nbsp; 8 &nbsp;</th>
		</tr>
        <tr>
			<td class='sc' id='td_DbnsOWVme__temperature1' ></td>
			<td class='sc' id='td_DbnsOWVme__temperature2' ></td>
			<td class='sc' id='td_DbnsOWVme__temperature3' ></td>
			<td class='sc' id='td_DbnsOWVme__temperature4' ></td>
			<td class='sc' id='td_DbnsOWVme__temperature5' ></td>
			<td class='sc' id='td_DbnsOWVme__temperature6' ></td>
			<td class='sc' id='td_DbnsOWVme__temperature7' ></td>
			<td class='sc' id='td_DbnsOWVme__temperature8' ></td>
		</tr>
    </tbody>
	</table>
</div>
<div class="clear"></div>

<div class="grid_24" style='margin-bottom: 10px;'>
    <table class='elec_table' id='table_DbnsRPCVme'>
	<thead><tr>
		<th colspan="2" style='text-align: center;' id='th_DbnsRPCVme'>RPC VME</th>
		<th colspan="6" style='text-align: center;' class='th_last_update good'></th>
	</tr></thead>
    <tbody>
	    <tr>
			<th>&nbsp; 1 &nbsp;</th>
			<th>&nbsp; 2 &nbsp;</th>
			<th>&nbsp; 3 &nbsp;</th>
			<th>&nbsp; 4 &nbsp;</th>
			<th>&nbsp; 5 &nbsp;</th>
			<th>&nbsp; 6 &nbsp;</th>
			<th>&nbsp; 7 &nbsp;</th>
			<th>&nbsp; 8 &nbsp;</th>
		</tr>
        <tr>
			<td class='sc' id='td_DbnsRPCVme__temperature1' ></td>
			<td class='sc' id='td_DbnsRPCVme__temperature2' ></td>
			<td class='sc' id='td_DbnsRPCVme__temperature3' ></td>
			<td class='sc' id='td_DbnsRPCVme__temperature4' ></td>
			<td class='sc' id='td_DbnsRPCVme__temperature5' ></td>
			<td class='sc' id='td_DbnsRPCVme__temperature6' ></td>
			<td class='sc' id='td_DbnsRPCVme__temperature7' ></td>
			<td class='sc' id='td_DbnsRPCVme__temperature8' ></td>
		</tr>
    </tbody>
	</table>
</div>
<div class="clear"></div>
{% endblock %}


{% block dcs_js %}<script type="text/javascript" src="{{ MEDIA_URL }}js/dcs/eh1_electronics.js"></script>{% endblock %}
