{% extends "dcs/monitor.html" %}

{% block dcs_content %}

{# Tables #}
<div class="grid_24">
    <table>
	<thead><tr>
		<th colspan="3" style='text-align: center;'>AD Lid Sensors</th>
	</tr></thead>
    <tbody>
        <tr>
            <td class='dc'></td>
            <td class='dc'>GdLS Level<br />(Ultrasonic)<br />[mm]</td>
            <td class='dc'>LS Level<br />(Ultrasonic)<br />[mm]</td>
            <td class='dc'>GdLS Level<br />(Capacitance)<br />[mm]</td>
            <td class='dc'>LS Level<br />(Capacitance)<br />[mm]</td>
            <td class='dc'>MO Level<br />(Capacitance)<br />[mm]</td>
            <td class='dc'>GdLS Temperature<br />[&deg;C]</td>
            <td class='dc'>LS Temperature<br />[&deg;C]</td>
            <td class='dc' style="width:180px;">Last Update</td>
        </tr>
        <tr>
            <td class='dc'>AD1</td>
            <td class='vc sc' id='td_Ad1Lidsensor__ultrasonic_gdls'></td>
            <td class='vc sc' id='td_Ad1Lidsensor__ultrasonic_ls'></td>
            <td class='vc sc' id='td_Ad1Lidsensor__capacitance_gdls'></td>
            <td class='vc sc' id='td_Ad1Lidsensor__capacitance_ls'></td>
            <td class='vc sc' id='td_Ad1Lidsensor__capacitance_mo'></td>
            <td class='vc sc' id='td_Ad1Lidsensor__temp_gdls'></td>
            <td class='vc sc' id='td_Ad1Lidsensor__temp_ls'></td>
            <td class='vc last_update good' id='td_Ad1Lidsensor__date_time'></td>
        </tr>
        <tr>
            <td class='dc'>AD2</td>
            <td class='vc sc' id='td_Ad2Lidsensor__ultrasonic_gdls'></td>
            <td class='vc sc' id='td_Ad2Lidsensor__ultrasonic_ls'></td>
            <td class='vc sc' id='td_Ad2Lidsensor__capacitance_gdls'></td>
            <td class='vc sc' id='td_Ad2Lidsensor__capacitance_ls'></td>
            <td class='vc sc' id='td_Ad2Lidsensor__capacitance_mo'></td>
            <td class='vc sc' id='td_Ad2Lidsensor__temp_gdls'></td>
            <td class='vc sc' id='td_Ad2Lidsensor__temp_ls'></td>
            <td class='vc last_update good' id='td_Ad2Lidsensor__date_time'></td>
        </tr>
	</table>
	
	<table style='margin-top: 20px;'>
	<thead><tr>
		<th colspan="3" style='text-align: center;'>AD Cover Gas</th>
	</tr></thead>
    <tbody>
        <tr>
            <td class='dc'></td>
            <td class='dc'>Pressure<br />[psi]</td>
            <td class='dc'>Oxygen<br />[ppm]</td>
            <td class='dc'>Humidity<br />[%]</td>
            <td class='dc'>Humidity<br />(Elec. Dry Pipe)<br />[%]</td>
            <td class='dc'>Humidity<br />(Gas Dry Pipe)<br />[%]</td>
            <td class='dc'>Humidity<br />(PMT Cable Bellow)<br />[%]</td>
            <td class='dc' style="width:180px;">Last Update</td>
        </tr>
        <tr>
            <td class='dc'>AD1</td>
            <td class='vc sc' id='td_Ad1Adcovergas__supplypressure'></td>
            <td class='vc sc' id='td_Ad1Adcovergas__oxygen'></td>
            <td class='vc sc' id='td_Ad1Adcovergas__humidity_covergasreturn'></td>
            <td class='vc sc' id='td_Ad1Adcovergas__humidity_electricaldrypipereturn'></td>
            <td class='vc sc' id='td_Ad1Adcovergas__humidity_gasdrypipereturn'></td>
            <td class='vc sc' id='td_Ad1Adcovergas__humidity_pmtcablebellowreturn'></td>
            <td class='vc last_update good' id='td_Ad1Adcovergas__date_time'></td>
        </tr>
        <tr>
            <td class='dc'>AD2</td>
            <td class='vc sc' id='td_Ad2Adcovergas__supplypressure'></td>
            <td class='vc sc' id='td_Ad2Adcovergas__oxygen'></td>
            <td class='vc sc' id='td_Ad2Adcovergas__humidity_covergasreturn'></td>
            <td class='vc sc' id='td_Ad2Adcovergas__humidity_electricaldrypipereturn'></td>
            <td class='vc sc' id='td_Ad2Adcovergas__humidity_gasdrypipereturn'></td>
            <td class='vc sc' id='td_Ad2Adcovergas__humidity_pmtcablebellowreturn'></td>
            <td class='vc last_update good' id='td_Ad2Adcovergas__date_time'></td>
        </tr>
    </tbody>
	</table>
	
	<table style='margin-top: 20px;'>
	<thead><tr>
		<th colspan="2" style='text-align: center;'>Water Pool</th>
	</tr></thead>
    <tbody>
        <tr>
            <td class='dc'></td>
            <td class='dc'>Temperature 1<br />[&deg;C]</td>
            <td class='dc'>Temperature 2<br />[&deg;C]</td>
            <td class='dc'>Temperature 3<br />[&deg;C]</td>
            <td class='dc'>Temperature 4<br />[&deg;C]</td>
            <td class='dc' style="width:180px;">Last Update</td>
        </tr>
        <tr>
            <td class='dc'>IWS</td>
            <td class='vc sc' id='td_DbnsIowTemp__dbns_iw_temp_pt1'></td>
            <td class='vc sc' id='td_DbnsIowTemp__dbns_iw_temp_pt2'></td>
            <td class='vc sc' id='td_DbnsIowTemp__dbns_iw_temp_pt3'></td>
            <td class='vc sc' id='td_DbnsIowTemp__dbns_iw_temp_pt4'></td>
            <td class='vc last_update good' id='td_DbnsIowTemp__date_time'></td>
        </tr>
        <tr>
            <td class='dc'>OWS</td>
            <td class='vc sc' id='td_DbnsIowTemp__dbns_ow_temp_pt1'></td>
            <td class='vc sc' id='td_DbnsIowTemp__dbns_ow_temp_pt2'></td>
            <td class='vc sc' id='td_DbnsIowTemp__dbns_ow_temp_pt3'></td>
            <td class='vc sc' id='td_DbnsIowTemp__dbns_ow_temp_pt4'></td>
            <td class='vc'>-</td>
        </tr>
    </tbody>
	</table>
	
	<table style='margin-top: 20px;'>
	<thead><tr>
		<th colspan="3" style='text-align: center;'>Water System</th>
	</tr></thead>
    <tbody>
        <tr>
            <td class='dc'></td>
            <td class='dc'>Water Level<br />[m]</td>
            <td class='dc'>Resistivity<br />(Pool)<br />[M.Ohm]</td>
            <td class='dc'>Resistivity<br />(Product)<br />[M.Ohm]</td>
            <td class='dc'>Oxygen<br />(In Flow)<br />[ppm]</td>
            <td class='dc'>Oxygen<br />(Out Flow)<br />[ppm]</td>
            <td class='dc'>Heater <br />Temperature<br />[&deg;C]</td>
            <td class='dc'>Heater Exchange <br />Temperature<br />[&deg;C]</td>
            <td class='dc' style="width:180px;">Last Update</td>
        </tr>
        <tr>
            <td class='dc'>EH1</td>
            <td class='vc sc' id='td_DbnsWatersystem__waterlevel'></td>
            <td class='vc sc' id='td_DbnsWatersystem__poolwaterresistivity'></td>
            <td class='vc sc' id='td_DbnsWatersystem__productresistivity'></td>
            <td class='vc sc' id='td_DbnsWatersystem__iwateroxygencontent'></td>
            <td class='vc sc' id='td_DbnsWatersystem__owateroxygencontent'></td>
            <td class='vc sc' id='td_DbnsWatersystem__heatertemperature'></td>
            <td class='vc sc' id='td_DbnsWatersystem__heatexchangetemperature'></td>
            <td class='vc last_update good' id='td_DbnsWatersystem__date_time'></td>
        </tr>
	</table>
	
	<table style='margin-top: 20px;'>
	<thead><tr>
		<th colspan="1" style='text-align: center;'>RPC Gas</th>
	</tr></thead>
    <tbody>
        <tr>
            <td class='dc'></td>
            <td class='dc'>Pressure<br />[psi]</td>
            <td class='dc'>Flow Rate<br />[cc/m]</td>
            <td class='dc'>Weight<br />[kg]</td>
            <td class='dc' style="width:180px;">Last Update</td>
        </tr>
        <tr>
            <td class='dc'>Argon</td>
            <td class='vc sc' id='td_DbnsRpcGas101__pressure_argon'></td>
            <td class='vc sc' id='td_DbnsRpcGas101__flow_rate_argon'></td>
            <td class='vc'>-</td>
            <td class='vc last_update good' id='td_DbnsRpcGas101__date_time'></td>
        </tr>
        <tr>
            <td class='dc'>Isobutane</td>
            <td class='vc sc' id='td_DbnsRpcGas101__pressure_isobutane'></td>
            <td class='vc sc' id='td_DbnsRpcGas101__flow_rate_isobutane'></td>
            <td class='vc sc' id='td_DbnsRpcGas102__weight_isobutane'></td>
            <td class='vc last_update good' id='td_DbnsRpcGas102__date_time'></td>
        </tr>
        <tr>
            <td class='dc'>R134A</td>
            <td class='vc sc' id='td_DbnsRpcGas101__pressure_r134a'></td>
            <td class='vc sc' id='td_DbnsRpcGas101__flow_rate_r134a'></td>
            <td class='vc sc' id='td_DbnsRpcGas102__weight_r134a'></td>
            <td class='vc'>-</td>
        </tr>
        <tr>
            <td class='dc'>SF6</td>
            <td class='vc sc' id='td_DbnsRpcGas101__pressure_sf6'></td>
            <td class='vc sc' id='td_DbnsRpcGas101__flow_rate_sf6'></td>
            <td class='vc sc' id='td_DbnsRpcGas102__weight_sf6'></td>
            <td class='vc'>-</td>
        </tr>
    </tbody>
	</table>

	<table style='margin-top: 20px;'>
	<thead><tr>
		<th colspan="2" style='text-align: center;'>Environmental Sensors</th>
	</tr></thead>
    <tbody>
        <tr>
            <td class='dc'></td>
            <td class='dc'>Temperature<br />(E-Room)<br />[&deg;C]</td>
            <td class='dc'>Temperature<br />(Near Gas-Room)<br />[&deg;C]</td>
            <td class='dc'>Humidity<br />(E-Room)<br />[%]</td>
            <td class='dc'>Humidity<br />(Near Gas-Room)<br />([%]</td>
            <td class='dc'>Pressure<br />(E-Room)<br />[mbar]</td>
            <td class='dc'>Pressure<br />(Near Gas-Room)<br />[mbar]</td>
            <td class='dc' style="width:180px;">Last Update</td>
        </tr>
        <tr>
            <td class='dc'>EH1</td>
            <td class='vc sc' id='td_DbnsEnvPth__dbns_pth_t1'></td>
            <td class='vc sc' id='td_DbnsEnvPth__dbns_pth_t2'></td>
            <td class='vc sc' id='td_DbnsEnvPth__dbns_pth_h1'></td>
            <td class='vc sc' id='td_DbnsEnvPth__dbns_pth_h2'></td>
            <td class='vc sc' id='td_DbnsEnvPth__dbns_pth_p1'></td>
            <td class='vc sc' id='td_DbnsEnvPth__dbns_pth_p2'></td>
            <td class='vc last_update good' id='td_DbnsEnvPth__date_time'></td>
        </tr>
    </tbody>
	</table>
	        
</div>
<div class="clear"></div>

<!-- <div class="grid_24">
    <table>
    <thead><tr>
        <th colspan="2" style='text-align: center;' id='th_Ad1Lidsensor'>AD1 Lid Sensors</th>
        <th colspan="4" style='text-align: center;' class='th_last_update good'></th>
    </tr></thead>
    <tbody>
        <tr>
            <td class='descr'>GdLS Level: Ultrasonic [mm]</td><td class='value sc' id='td_Ad1Lidsensor__ultrasonic_gdls'></td>
            <td class='descr'>LS Level: Ultrasonic [mm]</td><td class='value sc' id='td_Ad1Lidsensor__ultrasonic_ls'></td>
            <td class='descr'></td><td class='value'></td>
        </tr>
        <tr>
            <td class='descr'>GdLS Level: Capacitance [mm]</td><td class='value sc' id='td_Ad1Lidsensor__capacitance_gdls'></td>
            <td class='descr'>LS Level: Capacitance [mm]</td><td class='value sc' id='td_Ad1Lidsensor__capacitance_ls'></td>
            <td class='descr'>MO Level: Capacitance [mm]</td><td class='value sc' id='td_Ad1Lidsensor__capacitance_mo'></td>
        </tr>
        <tr>
            <td class='descr'>GdLS Temperature [&deg;C]</td><td class='value sc' id='td_Ad1Lidsensor__temp_gdls'></td>
            <td class='descr'>LS Temperature [&deg;C]</td><td class='value sc' id='td_Ad1Lidsensor__temp_ls'></td>
            <td class='descr'></td><td class='value'></td>
        </tr>
    </tbody>
    </table>

    <table style='margin-top: 20px;'>
    <thead><tr>
        <th colspan="2" style='text-align: center;' id='th_Ad2Lidsensor'>AD2 Lid Sensors</th>
        <th colspan="4" style='text-align: center;' class='th_last_update good'></th>
    </tr></thead>
    <tbody>
        <tr>
            <td class='descr'>GdLS Level: Ultrasonic [mm]</td><td class='value sc' id='td_Ad2Lidsensor__ultrasonic_gdls'></td>
            <td class='descr'>LS Level: Ultrasonic [mm]</td><td class='value sc' id='td_Ad2Lidsensor__ultrasonic_ls'></td>
            <td class='descr'></td><td class='value'></td>
        </tr>
        <tr>
            <td class='descr'>GdLS Level: Capacitance</td><td class='value sc' id='td_Ad2Lidsensor__capacitance_gdls'></td>
            <td class='descr'>LS Level: Capacitance</td><td class='value sc' id='td_Ad2Lidsensor__capacitance_ls'></td>
            <td class='descr'>MO Level: Capacitance [mm]</td><td class='value sc' id='td_Ad2Lidsensor__capacitance_mo'></td>
        </tr>
        <tr>
            <td class='descr'>GdLS Temperature [&deg;C]</td><td class='value sc' id='td_Ad2Lidsensor__temp_gdls'></td>
            <td class='descr'>LS Temperature [&deg;C]</td><td class='value sc' id='td_Ad2Lidsensor__temp_ls'></td>
            <td class='descr'></td><td class='value'></td>
        </tr>
    </tbody>
    </table>

    <table style='margin-top: 20px;'>
    <thead><tr>
        <th colspan="2" style='text-align: center;' id='th_Ad1Adcovergas'>AD1 Cover Gas</th>
        <th colspan="4" style='text-align: center;' class='th_last_update good'></th>
    </tr></thead>
    <tbody>
        <tr>
            <td class='descr'>Pressure [psi]</td><td class='value sc' id='td_Ad1Adcovergas__supplypressure'></td>
            <td class='descr'>Oxygen [ppm]</td><td class='value sc' id='td_Ad1Adcovergas__oxygen'></td>
            <td class='descr'>Humidity [%]</td><td class='value sc' id='td_Ad1Adcovergas__humidity_covergasreturn'></td>
        </tr>
        <tr>
            <td class='descr'>Humidity (Elec. Dry Pipe) [%]</td><td class='value sc' id='td_Ad1Adcovergas__humidity_electricaldrypipereturn'></td>
            <td class='descr'>Humidity (Gas Dry Pipe) [%]</td><td class='value sc' id='td_Ad1Adcovergas__humidity_gasdrypipereturn'></td>
            <td class='descr'>Humidity (PMT Cable Bellow) [%]</td><td class='value sc' id='td_Ad1Adcovergas__humidity_pmtcablebellowreturn'></td>
        </tr>
    </tbody>
    </table>

    <table style='margin-top: 20px;'>
    <thead><tr>
        <th colspan="2" style='text-align: center;' id='th_Ad2Adcovergas'>AD2 Cover Gas</th>
        <th colspan="4" style='text-align: center;' class='th_last_update good'></th>
    </tr></thead>
    <tbody>
        <tr>
            <td class='descr'>Pressure [psi]</td><td class='value sc' id='td_Ad2Adcovergas__supplypressure'></td>
            <td class='descr'>Oxygen [ppm]</td><td class='value sc' id='td_Ad2Adcovergas__oxygen'></td>
            <td class='descr'>Humidity [%]</td><td class='value sc' id='td_Ad2Adcovergas__humidity_covergasreturn'></td>
        </tr>
        <tr>
            <td class='descr'>Humidity (Elec. Dry Pipe) [%]</td><td class='value sc' id='td_Ad2Adcovergas__humidity_electricaldrypipereturn'></td>
            <td class='descr'>Humidity (Gas Dry Pipe) [%]</td><td class='value sc' id='td_Ad2Adcovergas__humidity_gasdrypipereturn'></td>
            <td class='descr'>Humidity (PMT Cable Bellow) [%]</td><td class='value sc' id='td_Ad2Adcovergas__humidity_pmtcablebellowreturn'></td>
        </tr>
    </tbody>
    </table>
    
    <table style='margin-top: 20px;'>
    <thead><tr>
        <th colspan="2" style='text-align: center;' id='th_DbnsIowTemp' title=''>Water Pool Temperature</th>
        <th colspan="6" style='text-align: center;' class='th_last_update good'></th>
    </tr></thead>
    <tbody>
        <tr>
            <td class='descr'>IWS Temperature 1 [C]</td><td class='value sc' id='td_DbnsIowTemp__dbns_iw_temp_pt1'></td>
            <td class='descr'>IWS Temperature 2 [C]</td><td class='value sc' id='td_DbnsIowTemp__dbns_iw_temp_pt2'></td>
            <td class='descr'>IWS Temperature 3 [C]</td><td class='value sc' id='td_DbnsIowTemp__dbns_iw_temp_pt3'></td>
            <td class='descr'>IWS Temperature 4 [C]</td><td class='value sc' id='td_DbnsIowTemp__dbns_iw_temp_pt4'></td>
        </tr>
        <tr>
            <td class='descr'>OWS Temperature 1 [C]</td><td class='value sc' id='td_DbnsIowTemp__dbns_ow_temp_pt1'></td>
            <td class='descr'>OWS Temperature 2 [C]</td><td class='value sc' id='td_DbnsIowTemp__dbns_ow_temp_pt2'></td>
            <td class='descr'>OWS Temperature 3 [C]</td><td class='value sc' id='td_DbnsIowTemp__dbns_ow_temp_pt3'></td>
            <td class='descr'>OWS Temperature 4 [C]</td><td class='value sc' id='td_DbnsIowTemp__dbns_ow_temp_pt4'></td>
        </tr>
    </tbody>
    </table>
        
    <table style='margin-top: 20px;'>
    <thead><tr>
        <th colspan="2" style='text-align: center;' id='th_DbnsRpcGas101' title=''>RPC Gas</th>
        <th colspan="6" style='text-align: center;' class='th_last_update good'></th>
    </tr></thead>
    <tbody>
        <tr>
            <td class='descr'>Pressure: Argon [psi]</td><td class='value sc' id='td_DbnsRpcGas101__pressure_argon'></td>
            <td class='descr'>Pressure: Isobutane [psi]</td><td class='value sc' id='td_DbnsRpcGas101__pressure_isobutane'></td>
            <td class='descr'>Pressure: R134A [psi]</td><td class='value sc' id='td_DbnsRpcGas101__pressure_r134a'></td>
            <td class='descr'>Pressure: SF6 [psi]</td><td class='value sc' id='td_DbnsRpcGas101__pressure_sf6'></td>
        </tr>
        <tr>
            <td class='descr'>Flow Rate: Argon [cc/m]</td><td class='value sc' id='td_DbnsRpcGas101__flow_rate_argon'></td>
            <td class='descr'>Flow Rate: Isobutane [cc/m]</td><td class='value sc' id='td_DbnsRpcGas101__flow_rate_isobutane'></td>
            <td class='descr'>Flow Rate: R134A [cc/m]</td><td class='value sc' id='td_DbnsRpcGas101__flow_rate_r134a'></td>
            <td class='descr'>Flow Rate: SF6 [cc/m]</td><td class='value sc' id='td_DbnsRpcGas101__flow_rate_sf6'></td>
        </tr>
        <tr>
            <td class='descr'></td><td class='value'></td>
            <td class='descr'>Weight: Isobutane [kg]</td><td class='value sc' id='td_DbnsRpcGas102__weight_isobutane'></td>
            <td class='descr'>Weight: R134A [kg]</td><td class='value sc' id='td_DbnsRpcGas102__weight_r134a'></td>
            <td class='descr'>Weight: SF6 [kg]</td><td class='value sc' id='td_DbnsRpcGas102__weight_sf6'></td>
        </tr>
    </tbody>
    </table>
    
    <table style='margin-top: 20px;'>
    <thead><tr>
        <th colspan="2" style='text-align: center;' id='th_DbnsEnvPth' title=''>Environmental Sensors</th>
        <th colspan="4" style='text-align: center;' class='th_last_update good'></th>
    </tr></thead>
    <tbody>
        <tr>
            <td class='descr'>Temperature 1 [C]</td><td class='value sc' id='td_DbnsEnvPth__dbns_pth_t1'></td>
            <td class='descr'>Humidity 1 [%]</td><td class='value sc' id='td_DbnsEnvPth__dbns_pth_h1'></td>
            <td class='descr'>Pressure 1 [mbar]</td><td class='value sc' id='td_DbnsEnvPth__dbns_pth_p1'></td>
        </tr>
        <tr>
            <td class='descr'>Temperature 2 [C]</td><td class='value sc'  id='td_DbnsEnvPth__dbns_pth_t2'></td>
            <td class='descr'>Humidity 2 [%]</td><td class='value sc' id='td_DbnsEnvPth__dbns_pth_h2'></td>
            <td class='descr'>Pressure 2 [mbar]</td><td class='value sc' id='td_DbnsEnvPth__dbns_pth_p2'></td>
        </tr>
    </tbody>
    </table>
</div>
<div class="clear"></div>
 -->

{# Charts #}
<div class = "grid_12" style='margin-top:30px;'>
     <h4 align='left'> 
         <a href="#AD">AD</a>&nbsp;|&nbsp;
         <a href="#WP">Water Pool</a>&nbsp;|&nbsp;
         <a href="#RPC">RPC</a>&nbsp;|&nbsp;
         <a href="#Env">Environment</a>
    </h4>
</div>
<div class = "grid_12" style='margin-top:30px;'>
     <h4 align='right' id='select_days'> 
         <a href="#" days='1'>Last Day</a>&nbsp;|&nbsp;
         <a href="#" days='7'>Week</a>&nbsp;|&nbsp;
         <a href="#" days='31'>Month</a>&nbsp;|&nbsp;
         <a href="#" days='90'>3 Months</a>&nbsp;|&nbsp;
         <a href="#" days='180'>6 Months</a>&nbsp;|&nbsp;
         <a href="#" days='365'>Year</a>
    </h4>
</div>    
<div class="clear"></div>

<div class = "grid_24">
	<a name="AD"></a>    
     <h2>
         AD Monitors
    </h2>
</div>    
<div class="clear"></div>


{# Liquid Level #}
<h4 class='ui-widget-header ui-corner-all' align='center' style='padding: 5px; width: 200px;'>Liquid Level</h4>

<div id="Ad1Lidsensor__ultrasonic_gdls" class="dcs_chart grid_12"></div>
<div id="Ad2Lidsensor__ultrasonic_gdls" class="dcs_chart grid_12"></div>
<div class="clear"></div>

<div id="Ad1Lidsensor__ultrasonic_ls" class="dcs_chart grid_12"></div>
<div id="Ad2Lidsensor__ultrasonic_ls" class="dcs_chart grid_12"></div>
<div class="clear"></div>
  
<div id="Ad1Lidsensor__capacitance_gdls" class="dcs_chart grid_12"></div>
<div id="Ad2Lidsensor__capacitance_gdls" class="dcs_chart grid_12"></div>
<div class="clear"></div>

<div id="Ad1Lidsensor__capacitance_ls" class="dcs_chart grid_12"></div>
<div id="Ad2Lidsensor__capacitance_ls" class="dcs_chart grid_12"></div>
<div class="clear"></div>

<div id="Ad1Lidsensor__capacitance_mo" class="dcs_chart grid_12"></div>
<div id="Ad2Lidsensor__capacitance_mo" class="dcs_chart grid_12"></div>
<div class="clear"></div>


{# Lid Temperature #}
<h4 class='ui-widget-header ui-corner-all' align='center' style='padding: 5px; margin-top: 40px; width: 200px;'>Liquid Temperature</h4>    

<div id="Ad1Lidsensor__temp_gdls" class="dcs_chart grid_12"></div>
<div id="Ad2Lidsensor__temp_gdls" class="dcs_chart grid_12"></div>
<div class="clear"></div>

<div id="Ad1Lidsensor__temp_ls" class="dcs_chart grid_12"></div>
<div id="Ad2Lidsensor__temp_ls" class="dcs_chart grid_12"></div>
<div class="clear"></div>


{# Cover Gas #}
<h4 class='ui-widget-header ui-corner-all' align='center' style='padding: 5px; margin-top: 40px; width: 200px;'>Cover Gas</h4>    

<div id="Ad1Adcovergas__supplypressure" class="dcs_chart grid_12"></div>
<div id="Ad2Adcovergas__supplypressure" class="dcs_chart grid_12"></div>
<div class="clear"></div>

<div id="Ad1Adcovergas__oxygen" class="dcs_chart grid_12"></div>
<div id="Ad2Adcovergas__oxygen" class="dcs_chart grid_12"></div>
<div class="clear"></div>

<div id="Ad1Adcovergas__humidity_covergasreturn" class="dcs_chart grid_12"></div>
<div id="Ad2Adcovergas__humidity_covergasreturn" class="dcs_chart grid_12"></div>
<div class="clear"></div>

<div id="Ad1Adcovergas__humidity_electricaldrypipereturn" class="dcs_chart grid_12"></div>
<div id="Ad2Adcovergas__humidity_electricaldrypipereturn" class="dcs_chart grid_12"></div>
<div class="clear"></div>

<div id="Ad1Adcovergas__humidity_gasdrypipereturn" class="dcs_chart grid_12"></div>
<div id="Ad2Adcovergas__humidity_gasdrypipereturn" class="dcs_chart grid_12"></div>
<div class="clear"></div>

<div id="Ad1Adcovergas__humidity_pmtcablebellowreturn" class="dcs_chart grid_12"></div>
<div id="Ad2Adcovergas__humidity_pmtcablebellowreturn" class="dcs_chart grid_12"></div>
<div class="clear"></div>

{# WP #}
<div class = "grid_24">
	<a name="WP"></a>   
     <h2>
         Water Pool Monitors
    </h2>
</div>    
<div class="clear"></div>
<h4 class='ui-widget-header ui-corner-all' align='center' style='padding: 5px; width: 200px;'>Temperature</h4>

<div id="DbnsIowTemp__dbns_iw_temp_pt1" class="dcs_chart grid_12"></div>
<div id="DbnsIowTemp__dbns_ow_temp_pt1" class="dcs_chart grid_12"></div>
<div class="clear"></div>

<div id="DbnsIowTemp__dbns_iw_temp_pt2" class="dcs_chart grid_12"></div>
<div id="DbnsIowTemp__dbns_ow_temp_pt2" class="dcs_chart grid_12"></div>
<div class="clear"></div>

<div id="DbnsIowTemp__dbns_iw_temp_pt3" class="dcs_chart grid_12"></div>
<div id="DbnsIowTemp__dbns_ow_temp_pt3" class="dcs_chart grid_12"></div>
<div class="clear"></div>

<div id="DbnsIowTemp__dbns_iw_temp_pt4" class="dcs_chart grid_12"></div>
<div id="DbnsIowTemp__dbns_ow_temp_pt4" class="dcs_chart grid_12"></div>
<div class="clear"></div>

{# Water System #}
<div class = "grid_24">
	<a name="Env"></a>
     <h2>
         Water System
    </h2>
</div>    
<div class="clear"></div>

<h4 class='ui-widget-header ui-corner-all' align='center' style='padding: 5px; width: 200px;'>Resistivity</h4>

<div id="DbnsWatersystem__poolwaterresistivity" class="dcs_chart grid_12"></div>
<div id="DbnsWatersystem__productresistivity" class="dcs_chart grid_12"></div>
<div class="clear"></div>

<h4 class='ui-widget-header ui-corner-all' align='center' style='padding: 5px; margin-top: 40px; width: 200px;'>Oxygen Content</h4>   
<div id="DbnsWatersystem__iwateroxygencontent" class="dcs_chart grid_12"></div>
<div id="DbnsWatersystem__owateroxygencontent" class="dcs_chart grid_12"></div>
<div class="clear"></div>


{# RPC #}
<div class = "grid_24">
	<a name="RPC"></a>   
     <h2>
         RPC Monitors
    </h2>
</div>    
<div class="clear"></div>

<h4 class='ui-widget-header ui-corner-all' align='center' style='padding: 5px; width: 200px;'>Gas Pressure</h4>

<div id="DbnsRpcGas101__pressure_argon" class="dcs_chart grid_12"></div>
<div id="DbnsRpcGas101__pressure_isobutane" class="dcs_chart grid_12"></div>
<div class="clear"></div>

<div id="DbnsRpcGas101__pressure_r134a" class="dcs_chart grid_12"></div>
<div id="DbnsRpcGas101__pressure_sf6" class="dcs_chart grid_12"></div>
<div class="clear"></div>

<h4 class='ui-widget-header ui-corner-all' align='center' style='padding: 5px; width: 200px;'>Gas Flow Rate</h4>

<div id="DbnsRpcGas101__flow_rate_argon" class="dcs_chart grid_12"></div>
<div id="DbnsRpcGas101__flow_rate_isobutane" class="dcs_chart grid_12"></div>
<div class="clear"></div>

<div id="DbnsRpcGas101__flow_rate_r134a" class="dcs_chart grid_12"></div>
<div id="DbnsRpcGas101__flow_rate_sf6" class="dcs_chart grid_12"></div>
<div class="clear"></div>

<h4 class='ui-widget-header ui-corner-all' align='center' style='padding: 5px; width: 200px;'>Gas Dewar Weight</h4>

<div id="DbnsRpcGas102__weight_isobutane" class="dcs_chart grid_12"></div>
<div id="DbnsRpcGas102__weight_r134a" class="dcs_chart grid_12"></div>
<div class="clear"></div>

<div id="DbnsRpcGas102__weight_sf6" class="dcs_chart grid_12"></div>
<div class="clear"></div>



{# Environment #}
<div class = "grid_24">
	<a name="Env"></a>
     <h2>
         Environment Monitors
    </h2>
</div>    
<div class="clear"></div>

<h4 class='ui-widget-header ui-corner-all' align='center' style='padding: 5px; width: 200px;'>Temperature</h4>

<div id="DbnsEnvPth__dbns_pth_t1" class="dcs_chart grid_12"></div>
<div id="DbnsEnvPth__dbns_pth_t2" class="dcs_chart grid_12"></div>
<div class="clear"></div>

<h4 class='ui-widget-header ui-corner-all' align='center' style='padding: 5px; margin-top: 40px; width: 200px;'>Humidity</h4>   
<div id="DbnsEnvPth__dbns_pth_h1" class="dcs_chart grid_12"></div>
<div id="DbnsEnvPth__dbns_pth_h2" class="dcs_chart grid_12"></div>
<div class="clear"></div>

<h4 class='ui-widget-header ui-corner-all' align='center' style='padding: 5px; margin-top: 40px; width: 200px;'>Pressure</h4>
<div id="DbnsEnvPth__dbns_pth_p1" class="dcs_chart grid_12"></div>
<div id="DbnsEnvPth__dbns_pth_p2" class="dcs_chart grid_12"></div>
<div class="clear"></div>

{% endblock %}


{% block dcs_js %}<script type="text/javascript" src="{{ MEDIA_URL }}js/dcs/eh1_instrument.js"></script>{% endblock %}

