{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/modal.css")?>
{% endblock %}

{% block title %}ODM | DCS Monitor | {{ site }} | {{ category|title }}{% endblock %}

{% block content %}
    <div class = "grid_8 prefix_8 suffix_8">
         <h1 align='center' id='summary' site='{{ site }}' category='{{ category }}'>
             {{ site }} {{ category|title }} Monitors
        </h1>
    </div>    
    <div class="clear"></div>

    {% block dcs_content %}{% endblock %}

{% endblock %}

{% block extra_js %}
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.simplemodal.1.4.1.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/sprintf.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/highcharts/modules/exporting.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/highcharts/themes/gray.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.qtip-1.0.0.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/dcs/monitor.js"></script>
	{% block dcs_js %}{% endblock %}    
{% endblock %}