{# IWS HV #}

<div class="grid_24" style='margin-bottom: 10px;'>
    <table class='elec_table' id='table_DbnsMuonPmtHvVmon'>
	<thead><tr>
		<th colspan="2" style='text-align: center;' id='th_DbnsMuonPmtHvVmon'>Inner WP HV</th>
		<th colspan="7" style='text-align: center;' class='th_last_update good'></th>
	</tr></thead>
    <tbody>
        <tr>
			<td><a class='HV live' id='DbnsMuonPmtHvVmon__dca' href='#'>&nbsp; Wall A &nbsp;</a></td>
			<td><a class='HV live' id='DbnsMuonPmtHvVmon__dcb' href='#'>&nbsp; Wall B &nbsp;</a></td>
			<td><a class='HV live' id='DbnsMuonPmtHvVmon__dcc' href='#'>&nbsp; Wall C &nbsp;</a></td>
			<td><a class='HV live' id='DbnsMuonPmtHvVmon__dcd' href='#'>&nbsp; Wall D &nbsp;</a></td>
			<td><a class='HV live' id='DbnsMuonPmtHvVmon__dce' href='#'>&nbsp; Wall E &nbsp;</a></td>
			<td><a class='HV live' id='DbnsMuonPmtHvVmon__dcf' href='#'>&nbsp; Wall F &nbsp;</a></td>
			<td><a class='HV live' id='DbnsMuonPmtHvVmon__dcg' href='#'>&nbsp; Wall G &nbsp;</a></td>
			<td><a class='HV live' id='DbnsMuonPmtHvVmon__dch' href='#'>&nbsp; Wall H &nbsp;</a></td>
			<td><a class='HV live' id='DbnsMuonPmtHvVmon__dcu' href='#'>&nbsp; Floor &nbsp;</a></td>
		</tr>
    </tbody>
	</table>
</div>
<div class="clear"></div>

<div class="grid_24">
<table class='elec_table hidden' id='table_DbnsMuonPmtHvVmon__dcu'>
	<tr>
        <td class='head'>Floor</td>
        <td class='head'>Ring 1</td>
        <td class='head'>Ring 2</td>
        <td class='head'>Ring 3</td>
    </tr>
	<tr>
		<td class='head'>Column g</td>
        <td class='sc' group='dcu' id='td_DbnsMuonPmtHvVmon__dciu3g'></td>
        <td></td>
        <td></td>
    </tr>
	<tr>
		<td class='head'>Column f</td>
        <td class='sc' group='dcu' id='td_DbnsMuonPmtHvVmon__dciu3f'></td>
        <td></td>
        <td></td>
    </tr>
	<tr>
		<td class='head'>Column e</td>
        <td class='sc' group='dcu' id='td_DbnsMuonPmtHvVmon__dciu3e'></td>
        <td></td>
        <td></td>
    </tr>
	<tr>
		<td class='head'>Column d</td>
        <td class='sc' group='dcu' id='td_DbnsMuonPmtHvVmon__dciu3d'></td>
        <td></td>
        <td></td>
    </tr>
	<tr>
		<td class='head'>Column c</td>
        <td class='sc' group='dcu' id='td_DbnsMuonPmtHvVmon__dciu3c'></td>
        <td></td>
        <td></td>
    </tr>
	<tr>
		<td class='head'>Column b</td>
        <td class='sc' group='dcu' id='td_DbnsMuonPmtHvVmon__dciu3b'></td>
        <td></td>
        <td></td>
    </tr>
	<tr>
		<td class='head'>Column a</td>
        <td class='sc' group='dcu' id='td_DbnsMuonPmtHvVmon__dciu3a'></td>
        <td></td>
        <td></td>
    </tr>
	<tr>
		<td class='head'>Column 9</td>
        <td class='sc' group='dcu' id='td_DbnsMuonPmtHvVmon__dciu39'></td>
        <td></td>
        <td></td>
    </tr>
	<tr>
		<td class='head'>Column 8</td>
        <td class='sc' group='dcu' id='td_DbnsMuonPmtHvVmon__dciu38'></td>
        <td></td>
        <td></td>
    </tr>
	<tr>
		<td class='head'>Column 7</td>
        <td class='sc' group='dcu' id='td_DbnsMuonPmtHvVmon__dciu37'></td>
        <td></td>
        <td></td>
    </tr>
	<tr>
		<td class='head'>Column 6</td>
        <td class='sc' group='dcu' id='td_DbnsMuonPmtHvVmon__dciu36'></td>
        <td></td>
        <td></td>
    </tr>
	<tr>
		<td class='head'>Column 5</td>
        <td class='sc' group='dcu' id='td_DbnsMuonPmtHvVmon__dciu35'></td>
        <td></td>
        <td></td>
    </tr>
	<tr>
		<td class='head'>Column 4</td>
        <td class='sc' group='dcu' id='td_DbnsMuonPmtHvVmon__dciu34'></td>
        <td class='sc' group='dcu' id='td_DbnsMuonPmtHvVmon__dciu24'></td>
        <td></td>
    </tr>
	<tr>
		<td class='head'>Column 3</td>
        <td class='sc' group='dcu' id='td_DbnsMuonPmtHvVmon__dciu33'></td>
        <td class='sc' group='dcu' id='td_DbnsMuonPmtHvVmon__dciu23'></td>
        <td></td>
    </tr>
	<tr>
		<td class='head'>Column 2</td>
        <td class='sc' group='dcu' id='td_DbnsMuonPmtHvVmon__dciu32'></td>
        <td class='sc' group='dcu' id='td_DbnsMuonPmtHvVmon__dciu22'></td>
        <td></td>
    </tr>
	<tr>
		<td class='head'>Column 1</td>
        <td class='sc' group='dcu' id='td_DbnsMuonPmtHvVmon__dciu31'></td>
        <td class='sc' group='dcu' id='td_DbnsMuonPmtHvVmon__dciu21'></td>
        <td class='sc' group='dcu' id='td_DbnsMuonPmtHvVmon__dciu11'></td>
    </tr>
</table>
<table class='elec_table hidden' id='table_DbnsMuonPmtHvVmon__dch'>
	<tr>
        <td class='head'>Wall H</td>
        <td class='head'>column 1</td>
        <td class='head'>column 2</td>
    </tr>
	<tr>
		<td class='head'>Row 4</td>
        <td class='sc' group='dch' id='td_DbnsMuonPmtHvVmon__dcih41'></td>
        <td class='sc' group='dch' id='td_DbnsMuonPmtHvVmon__dcih42'></td>
    </tr>
	<tr>
		<td class='head'>Row 3</td>
        <td class='sc' group='dch' id='td_DbnsMuonPmtHvVmon__dcih31'></td>
        <td class='sc' group='dch' id='td_DbnsMuonPmtHvVmon__dcih32'></td>
    </tr>
	<tr>
		<td class='head'>Row 2</td>
        <td class='sc' group='dch' id='td_DbnsMuonPmtHvVmon__dcih21'></td>
        <td class='sc' group='dch' id='td_DbnsMuonPmtHvVmon__dcih22'></td>
    </tr>
	<tr>
		<td class='head'>Row 1</td>
        <td class='sc' group='dch' id='td_DbnsMuonPmtHvVmon__dcih11'></td>
        <td class='sc' group='dch' id='td_DbnsMuonPmtHvVmon__dcih12'></td>
    </tr>                                                
</table>
<table class='elec_table hidden' id='table_DbnsMuonPmtHvVmon__dcg'>
	<tr>
        <td class='head'>Wall G</td>
        <td class='head'>column 1</td>
        <td class='head'>column 2</td>
        <td class='head'>column 3</td>
    </tr>
	<tr>
		<td class='head'>Row 7</td>
		<td></td>
		<td class='sc' group='dcg' id='td_DbnsMuonPmtHvVmon__dcig72'></td>
        <td></td>
    </tr>
	<tr>
		<td class='head'>Row 6</td>
		<td class='sc' group='dcg' id='td_DbnsMuonPmtHvVmon__dcig61'></td>
		<td></td>
		<td class='sc' group='dcg' id='td_DbnsMuonPmtHvVmon__dcig63'></td>        
    </tr>
	<tr>
		<td class='head'>Row 5</td>
		<td></td>
		<td class='sc' group='dcg' id='td_DbnsMuonPmtHvVmon__dcig52'></td>
        <td></td>
    </tr>
	<tr>
		<td class='head'>Row 4</td>
		<td class='sc' group='dcg' id='td_DbnsMuonPmtHvVmon__dcig41'></td>
		<td></td>
		<td class='sc' group='dcg' id='td_DbnsMuonPmtHvVmon__dcig43'></td>        
    </tr>
	<tr>
		<td class='head'>Row 3</td>
		<td></td>
		<td class='sc' group='dcg' id='td_DbnsMuonPmtHvVmon__dcig32'></td>
        <td></td>
    </tr>
	<tr>
		<td class='head'>Row 2</td>
		<td class='sc' group='dcg' id='td_DbnsMuonPmtHvVmon__dcig21'></td>
		<td></td>
		<td class='sc' group='dcg' id='td_DbnsMuonPmtHvVmon__dcig23'></td>        
    </tr>
	<tr>
		<td class='head'>Row 1</td>
		<td></td>
		<td class='sc' group='dcg' id='td_DbnsMuonPmtHvVmon__dcig12'></td>
        <td></td>
    </tr>                                                   
</table>
<table class='elec_table hidden' id='table_DbnsMuonPmtHvVmon__dcf'>
	<tr>
        <td class='head'>Wall F</td>
        <td class='head'>column 1</td>
        <td class='head'>column 2</td>
    </tr>
	<tr>
		<td class='head'>Row 4</td>
        <td class='sc' group='dcf' id='td_DbnsMuonPmtHvVmon__dcif41'></td>
        <td class='sc' group='dcf' id='td_DbnsMuonPmtHvVmon__dcif42'></td>
    </tr>
	<tr>
		<td class='head'>Row 3</td>
        <td class='sc' group='dcf' id='td_DbnsMuonPmtHvVmon__dcif31'></td>
        <td class='sc' group='dcf' id='td_DbnsMuonPmtHvVmon__dcif32'></td>
    </tr>
	<tr>
		<td class='head'>Row 2</td>
        <td class='sc' group='dcf' id='td_DbnsMuonPmtHvVmon__dcif21'></td>
        <td class='sc' group='dcf' id='td_DbnsMuonPmtHvVmon__dcif22'></td>
    </tr>
	<tr>
		<td class='head'>Row 1</td>
        <td class='sc' group='dcf' id='td_DbnsMuonPmtHvVmon__dcif11'></td>
        <td class='sc' group='dcf' id='td_DbnsMuonPmtHvVmon__dcif12'></td>
    </tr>                                                
</table>
<table class='elec_table hidden' id='table_DbnsMuonPmtHvVmon__dce'>
	<tr>
        <td class='head'>Wall E</td>
        <td class='head'>column 1</td>
        <td class='head'>column 2</td>
        <td class='head'>column 3</td>
        <td class='head'>column 4</td>
        <td class='head'>column 5</td>
        <td class='head'>column 6</td>
        <td class='head'>column 7</td>
    </tr>
	<tr>
		<td class='head'>Row 7</td>
        <td></td>
        <td class='sc' group='dce' id='td_DbnsMuonPmtHvVmon__dcie72'></td>
        <td></td>
        <td class='sc' group='dce' id='td_DbnsMuonPmtHvVmon__dcie74'></td>
        <td></td>
        <td class='sc' group='dce' id='td_DbnsMuonPmtHvVmon__dcie76'></td>
        <td></td>
    </tr>
	<tr>
		<td class='head'>Row 6</td>
		<td class='sc' group='dce' id='td_DbnsMuonPmtHvVmon__dcie61'></td>
        <td></td>
        <td class='sc' group='dce' id='td_DbnsMuonPmtHvVmon__dcie63'></td>
        <td></td>
        <td class='sc' group='dce' id='td_DbnsMuonPmtHvVmon__dcie65'></td>
        <td></td>
        <td class='sc' group='dce' id='td_DbnsMuonPmtHvVmon__dcie67'></td>
    </tr>
	<tr>
		<td class='head'>Row 5</td>
        <td></td>
        <td class='sc' group='dce' id='td_DbnsMuonPmtHvVmon__dcie52'></td>
        <td></td>
        <td class='sc' group='dce' id='td_DbnsMuonPmtHvVmon__dcie54'></td>
        <td></td>
        <td class='sc' group='dce' id='td_DbnsMuonPmtHvVmon__dcie56'></td>
        <td></td>
    </tr>
	<tr>
		<td class='head'>Row 4</td>
		<td class='sc' group='dce' id='td_DbnsMuonPmtHvVmon__dcie41'></td>
        <td></td>
        <td class='sc' group='dce' id='td_DbnsMuonPmtHvVmon__dcie43'></td>
        <td></td>
        <td class='sc' group='dce' id='td_DbnsMuonPmtHvVmon__dcie45'></td>
	    <td></td>
		<td class='sc' group='dce' id='td_DbnsMuonPmtHvVmon__dcie47'></td>
    </tr>
	<tr>
		<td class='head'>Row 3</td>
        <td></td>
        <td class='sc' group='dce' id='td_DbnsMuonPmtHvVmon__dcie32'></td>
        <td></td>
        <td class='sc' group='dce' id='td_DbnsMuonPmtHvVmon__dcie34'></td>
        <td></td>
        <td class='sc' group='dce' id='td_DbnsMuonPmtHvVmon__dcie36'></td>
        <td></td>
    </tr>
	<tr>
		<td class='head'>Row 2</td>
		<td class='sc' group='dce' id='td_DbnsMuonPmtHvVmon__dcie21'></td>
        <td></td>
        <td class='sc' group='dce' id='td_DbnsMuonPmtHvVmon__dcie23'></td>
        <td></td>
        <td class='sc' group='dce' id='td_DbnsMuonPmtHvVmon__dcie25'></td>
        <td></td>
        <td class='sc' group='dce' id='td_DbnsMuonPmtHvVmon__dcie27'></td>
    </tr>
	<tr>
		<td class='head'>Row 1</td>
        <td></td>
        <td class='sc' group='dce' id='td_DbnsMuonPmtHvVmon__dcie12'></td>
        <td></td>
        <td class='sc' group='dce' id='td_DbnsMuonPmtHvVmon__dcie14'></td>
        <td></td>
	    <td class='sc' group='dce' id='td_DbnsMuonPmtHvVmon__dcie16'></td>
        <td></td>
    </tr>                                                 
</table>
<table class='elec_table hidden' id='table_DbnsMuonPmtHvVmon__dcd'>
	<tr>
        <td class='head'>Wall D</td>
        <td class='head'>column 1</td>
        <td class='head'>column 2</td>
    </tr>
	<tr>
		<td class='head'>Row 4</td>
        <td class='sc' group='dcd' id='td_DbnsMuonPmtHvVmon__dcid41'></td>
        <td class='sc' group='dcd' id='td_DbnsMuonPmtHvVmon__dcid42'></td>
    </tr>
	<tr>
		<td class='head'>Row 3</td>
        <td class='sc' group='dcd' id='td_DbnsMuonPmtHvVmon__dcid31'></td>
        <td class='sc' group='dcd' id='td_DbnsMuonPmtHvVmon__dcid32'></td>
    </tr>
	<tr>
		<td class='head'>Row 2</td>
        <td class='sc' group='dcd' id='td_DbnsMuonPmtHvVmon__dcid21'></td>
        <td class='sc' group='dcd' id='td_DbnsMuonPmtHvVmon__dcid22'></td>
    </tr>
	<tr>
		<td class='head'>Row 1</td>
        <td class='sc' group='dcd' id='td_DbnsMuonPmtHvVmon__dcid11'></td>
        <td class='sc' group='dcd' id='td_DbnsMuonPmtHvVmon__dcid12'></td>
    </tr>                                                
</table>
<table class='elec_table hidden' id='table_DbnsMuonPmtHvVmon__dcc'>
	<tr>
        <td class='head'>Wall C</td>
        <td class='head'>column 1</td>
        <td class='head'>column 2</td>
        <td class='head'>column 3</td>
    </tr>
	<tr>
		<td class='head'>Row 7</td>
		<td></td>
		<td class='sc' group='dcc' id='td_DbnsMuonPmtHvVmon__dcic72'></td>
        <td></td>
    </tr>
	<tr>
		<td class='head'>Row 6</td>
		<td class='sc' group='dcc' id='td_DbnsMuonPmtHvVmon__dcic61'></td>
		<td></td>
		<td class='sc' group='dcc' id='td_DbnsMuonPmtHvVmon__dcic63'></td>        
    </tr>
	<tr>
		<td class='head'>Row 5</td>
		<td></td>
		<td class='sc' group='dcc' id='td_DbnsMuonPmtHvVmon__dcic52'></td>
        <td></td>
    </tr>
	<tr>
		<td class='head'>Row 4</td>
		<td class='sc' group='dcc' id='td_DbnsMuonPmtHvVmon__dcic41'></td>
		<td></td>
		<td class='sc' group='dcc' id='td_DbnsMuonPmtHvVmon__dcic43'></td>        
    </tr>
	<tr>
		<td class='head'>Row 3</td>
		<td></td>
		<td class='sc' group='dcc' id='td_DbnsMuonPmtHvVmon__dcic32'></td>
        <td></td>
    </tr>
	<tr>
		<td class='head'>Row 2</td>
		<td class='sc' group='dcc' id='td_DbnsMuonPmtHvVmon__dcic21'></td>
		<td></td>
		<td class='sc' group='dcc' id='td_DbnsMuonPmtHvVmon__dcic23'></td>        
    </tr>
	<tr>
		<td class='head'>Row 1</td>
		<td></td>
		<td class='sc' group='dcc' id='td_DbnsMuonPmtHvVmon__dcic12'></td>
        <td></td>
    </tr>                                                   
</table>
<table class='elec_table hidden' id='table_DbnsMuonPmtHvVmon__dcb'>
	<tr>
        <td class='head'>Wall B</td>
        <td class='head'>column 1</td>
        <td class='head'>column 2</td>
    </tr>
	<tr>
		<td class='head'>Row 4</td>
        <td class='sc' group='dcb' id='td_DbnsMuonPmtHvVmon__dcib41'></td>
        <td class='sc' group='dcb' id='td_DbnsMuonPmtHvVmon__dcib42'></td>
    </tr>
	<tr>
		<td class='head'>Row 3</td>
        <td class='sc' group='dcb' id='td_DbnsMuonPmtHvVmon__dcib31'></td>
        <td class='sc' group='dcb' id='td_DbnsMuonPmtHvVmon__dcib32'></td>
    </tr>
	<tr>
		<td class='head'>Row 2</td>
        <td class='sc' group='dcb' id='td_DbnsMuonPmtHvVmon__dcib21'></td>
        <td class='sc' group='dcb' id='td_DbnsMuonPmtHvVmon__dcib22'></td>
    </tr>
	<tr>
		<td class='head'>Row 1</td>
        <td class='sc' group='dcb' id='td_DbnsMuonPmtHvVmon__dcib11'></td>
        <td class='sc' group='dcb' id='td_DbnsMuonPmtHvVmon__dcib12'></td>
    </tr>                                                
</table>
<table class='elec_table hidden' id='table_DbnsMuonPmtHvVmon__dca'>
	<tr>
        <td class='head'>Wall A</td>
        <td class='head'>column 1</td>
        <td class='head'>column 2</td>
        <td class='head'>column 3</td>
        <td class='head'>column 4</td>
        <td class='head'>column 5</td>
        <td class='head'>column 6</td>
        <td class='head'>column 7</td>
    </tr>
	<tr>
		<td class='head'>Row 7</td>
        <td></td>
        <td class='sc' group='dca' id='td_DbnsMuonPmtHvVmon__dcia72'></td>
        <td></td>
        <td class='sc' group='dca' id='td_DbnsMuonPmtHvVmon__dcia74'></td>
        <td></td>
        <td class='sc' group='dca' id='td_DbnsMuonPmtHvVmon__dcia76'></td>
        <td></td>
    </tr>
	<tr>
		<td class='head'>Row 6</td>
		<td class='sc' group='dca' id='td_DbnsMuonPmtHvVmon__dcia61'></td>
        <td></td>
        <td class='sc' group='dca' id='td_DbnsMuonPmtHvVmon__dcia63'></td>
        <td></td>
        <td class='sc' group='dca' id='td_DbnsMuonPmtHvVmon__dcia65'></td>
        <td></td>
        <td class='sc' group='dca' id='td_DbnsMuonPmtHvVmon__dcia67'></td>
    </tr>
	<tr>
		<td class='head'>Row 5</td>
        <td></td>
        <td class='sc' group='dca' id='td_DbnsMuonPmtHvVmon__dcia52'></td>
        <td></td>
        <td class='sc' group='dca' id='td_DbnsMuonPmtHvVmon__dcia54'></td>
        <td></td>
        <td class='sc' group='dca' id='td_DbnsMuonPmtHvVmon__dcia56'></td>
        <td></td>
    </tr>
	<tr>
		<td class='head'>Row 4</td>
		<td class='sc' group='dca' id='td_DbnsMuonPmtHvVmon__dcia41'></td>
        <td></td>
        <td class='sc' group='dca' id='td_DbnsMuonPmtHvVmon__dcia43'></td>
        <td></td>
        <td class='sc' group='dca' id='td_DbnsMuonPmtHvVmon__dcia45'></td>
	    <td></td>
		<td class='sc' group='dca' id='td_DbnsMuonPmtHvVmon__dcia47'></td>
    </tr>
	<tr>
		<td class='head'>Row 3</td>
        <td></td>
        <td class='sc' group='dca' id='td_DbnsMuonPmtHvVmon__dcia32'></td>
        <td></td>
        <td class='sc' group='dca' id='td_DbnsMuonPmtHvVmon__dcia34'></td>
        <td></td>
        <td class='sc' group='dca' id='td_DbnsMuonPmtHvVmon__dcia36'></td>
        <td></td>
    </tr>
	<tr>
		<td class='head'>Row 2</td>
		<td class='sc' group='dca' id='td_DbnsMuonPmtHvVmon__dcia21'></td>
        <td></td>
        <td class='sc' group='dca' id='td_DbnsMuonPmtHvVmon__dcia23'></td>
        <td></td>
        <td class='sc' group='dca' id='td_DbnsMuonPmtHvVmon__dcia25'></td>
        <td></td>
        <td class='sc' group='dca' id='td_DbnsMuonPmtHvVmon__dcia27'></td>
    </tr>
	<tr>
		<td class='head'>Row 1</td>
        <td></td>
        <td class='sc' group='dca' id='td_DbnsMuonPmtHvVmon__dcia12'></td>
        <td></td>
        <td class='sc' group='dca' id='td_DbnsMuonPmtHvVmon__dcia14'></td>
        <td></td>
	    <td class='sc' group='dca' id='td_DbnsMuonPmtHvVmon__dcia16'></td>
        <td></td>
    </tr>                                                 
</table>
<div class="clear"></div>
