{# OWS Inward Facing HV #}

<div class="grid_24" style='margin-bottom: 10px;'>
    <table class='elec_table'>
	<thead><tr>
		<th colspan="3" style='text-align: center;'>Outer WP Inward Facing PMT HV</th>
	</tr></thead>
    <tbody>
        <tr>
			<td><a class='HV live' id='DbnsMuonPmtHvVmon__dvia' href='#'>&nbsp; Wall A &nbsp;</a></td>
			<td><a class='HV live' id='DbnsMuonPmtHvVmon__dvib' href='#'>&nbsp; Wall B &nbsp;</a></td>
			<td><a class='HV live' id='DbnsMuonPmtHvVmon__dvic' href='#'>&nbsp; Wall C &nbsp;</a></td>
			<td><a class='HV live' id='DbnsMuonPmtHvVmon__dvid' href='#'>&nbsp; Wall D &nbsp;</a></td>
			<td><a class='HV live' id='DbnsMuonPmtHvVmon__dvie' href='#'>&nbsp; Wall E &nbsp;</a></td>
			<td><a class='HV live' id='DbnsMuonPmtHvVmon__dvif' href='#'>&nbsp; Wall F &nbsp;</a></td>
			<td><a class='HV live' id='DbnsMuonPmtHvVmon__dvig' href='#'>&nbsp; Wall G &nbsp;</a></td>
			<td><a class='HV live' id='DbnsMuonPmtHvVmon__dvih' href='#'>&nbsp; Wall H &nbsp;</a></td>
			<td><a class='HV live' id='DbnsMuonPmtHvVmon__dviu' href='#'>&nbsp; Floor &nbsp;</a></td>
		</tr>
    </tbody>
	</table>
</div>
<div class="clear"></div>

<div class="grid_24">
	<table class='elec_table hidden' id='table_DbnsMuonPmtHvVmon__dviu'>
		<tr>
	        <td class='head'>Floor</td>
	        <td class='head'>Column 1</td>
	        <td class='head'>Column 2</td>
	        <td class='head'>Column 3</td>
	        <td class='head'>Column 4</td>
	        <td class='head'>Column 5</td>
	        <td class='head'>Column 6</td>
	    </tr>
		<tr>
			<td class='head'>Ring 2</td>
	        <td class='sc' group='dviu' id='td_DbnsMuonPmtHvVmon__dviu21'></td>
	        <td class='sc' group='dviu' id='td_DbnsMuonPmtHvVmon__dviu22'></td>
	        <td class='sc' group='dviu' id='td_DbnsMuonPmtHvVmon__dviu23'></td>
	        <td class='sc' group='dviu' id='td_DbnsMuonPmtHvVmon__dviu24'></td>
	        <td class='sc' group='dviu' id='td_DbnsMuonPmtHvVmon__dviu25'></td>
	        <td class='sc' group='dviu' id='td_DbnsMuonPmtHvVmon__dviu26'></td>
	    </tr>
		<tr>
			<td class='head'>Ring 1</td>
	        <td class='sc' group='dviu' id='td_DbnsMuonPmtHvVmon__dviu11'></td>
	        <td></td>
	        <td></td>
	        <td></td>
	        <td></td>
	        <td></td>
	    </tr>
	</table>
	<table class='elec_table hidden' id='table_DbnsMuonPmtHvVmon__dvih'>
		<tr>
	        <td class='head'>Wall H</td>
	        <td class='head'>Column 1</td>
	        <td class='head'>Column 2</td>
	    </tr>
		<tr>
			<td class='head'>Row 4</td>
	        <td class='sc' group='dvih' id='td_DbnsMuonPmtHvVmon__dvih41'></td>
	        <td class='sc' group='dvih' id='td_DbnsMuonPmtHvVmon__dvih42'></td>
	    </tr>
		<tr>
			<td class='head'>Row 3</td>
	        <td class='sc' group='dvih' id='td_DbnsMuonPmtHvVmon__dvih31'></td>
	        <td class='sc' group='dvih' id='td_DbnsMuonPmtHvVmon__dvih32'></td>
	    </tr>
		<tr>
			<td class='head'>Row 2</td>
	        <td class='sc' group='dvih' id='td_DbnsMuonPmtHvVmon__dvih21'></td>
	        <td class='sc' group='dvih' id='td_DbnsMuonPmtHvVmon__dvih22'></td>
	    </tr>
		<tr>
			<td class='head'>Row 1</td>
	        <td class='sc' group='dvih' id='td_DbnsMuonPmtHvVmon__dvih11'></td>
	        <td class='sc' group='dvih' id='td_DbnsMuonPmtHvVmon__dvih12'></td>
	    </tr>                                                
	</table>
	<table class='elec_table hidden' id='table_DbnsMuonPmtHvVmon__dvig'>
		<tr>
	        <td class='head'>Wall G</td>
	        <td class='head'>Column 1</td>
	        <td class='head'>Column 2</td>
	    </tr>
		<tr>
			<td class='head'>Row 4</td>
	        <td class='sc' group='dvig' id='td_DbnsMuonPmtHvVmon__dvig41'></td>
	        <td class='sc' group='dvig' id='td_DbnsMuonPmtHvVmon__dvig42'></td>
	    </tr>
		<tr>
			<td class='head'>Row 3</td>
	        <td class='sc' group='dvig' id='td_DbnsMuonPmtHvVmon__dvig31'></td>
	        <td class='sc' group='dvig' id='td_DbnsMuonPmtHvVmon__dvig32'></td>
	    </tr>
		<tr>
			<td class='head'>Row 2</td>
	        <td class='sc' group='dvig' id='td_DbnsMuonPmtHvVmon__dvig21'></td>
	        <td class='sc' group='dvig' id='td_DbnsMuonPmtHvVmon__dvig22'></td>
	    </tr>
		<tr>
			<td class='head'>Row 1</td>
	        <td class='sc' group='dvig' id='td_DbnsMuonPmtHvVmon__dvig11'></td>
	        <td class='sc' group='dvig' id='td_DbnsMuonPmtHvVmon__dvig12'></td>
	    </tr>                                                
	</table>
	<table class='elec_table hidden' id='table_DbnsMuonPmtHvVmon__dvif'>
		<tr>
	        <td class='head'>Wall F</td>
	        <td class='head'>Column 1</td>
	        <td class='head'>Column 2</td>
	    </tr>
		<tr>
			<td class='head'>Row 4</td>
	        <td class='sc' group='dvif' id='td_DbnsMuonPmtHvVmon__dvif41'></td>
	        <td class='sc' group='dvif' id='td_DbnsMuonPmtHvVmon__dvif42'></td>
	    </tr>
		<tr>
			<td class='head'>Row 3</td>
	        <td class='sc' group='dvif' id='td_DbnsMuonPmtHvVmon__dvif31'></td>
	        <td class='sc' group='dvif' id='td_DbnsMuonPmtHvVmon__dvif32'></td>
	    </tr>
		<tr>
			<td class='head'>Row 2</td>
	        <td class='sc' group='dvif' id='td_DbnsMuonPmtHvVmon__dvif21'></td>
	        <td class='sc' group='dvif' id='td_DbnsMuonPmtHvVmon__dvif22'></td>
	    </tr>
		<tr>
			<td class='head'>Row 1</td>
	        <td class='sc' group='dvif' id='td_DbnsMuonPmtHvVmon__dvif11'></td>
	        <td class='sc' group='dvif' id='td_DbnsMuonPmtHvVmon__dvif12'></td>
	    </tr>                                                
	</table>
	<table class='elec_table hidden' id='table_DbnsMuonPmtHvVmon__dvie'>
		<tr>
	        <td class='head'>Wall E</td>
	        <td class='head'>Column 1</td>
	        <td class='head'>Column 2</td>
	        <td class='head'>Column 3</td>
	        <td class='head'>Column 4</td>
	    </tr>
		<tr>
			<td class='head'>Row 4</td>
	        <td class='sc' group='dvie' id='td_DbnsMuonPmtHvVmon__dvie41'></td>
	        <td class='sc' group='dvie' id='td_DbnsMuonPmtHvVmon__dvie42'></td>
	        <td class='sc' group='dvie' id='td_DbnsMuonPmtHvVmon__dvie43'></td>
	        <td class='sc' group='dvie' id='td_DbnsMuonPmtHvVmon__dvie44'></td>
	    </tr>
		<tr>
			<td class='head'>Row 3</td>
	        <td class='sc' group='dvie' id='td_DbnsMuonPmtHvVmon__dvie31'></td>
	        <td class='sc' group='dvie' id='td_DbnsMuonPmtHvVmon__dvie32'></td>
	        <td class='sc' group='dvie' id='td_DbnsMuonPmtHvVmon__dvie33'></td>
	        <td class='sc' group='dvie' id='td_DbnsMuonPmtHvVmon__dvie34'></td>
	    </tr>
		<tr>
			<td class='head'>Row 2</td>
	        <td class='sc' group='dvie' id='td_DbnsMuonPmtHvVmon__dvie21'></td>
	        <td class='sc' group='dvie' id='td_DbnsMuonPmtHvVmon__dvie22'></td>
	        <td class='sc' group='dvie' id='td_DbnsMuonPmtHvVmon__dvie23'></td>
	        <td class='sc' group='dvie' id='td_DbnsMuonPmtHvVmon__dvie24'></td>
	    </tr>
		<tr>
			<td class='head'>Row 1</td>
	        <td class='sc' group='dvie' id='td_DbnsMuonPmtHvVmon__dvie11'></td>
	        <td class='sc' group='dvie' id='td_DbnsMuonPmtHvVmon__dvie12'></td>
	        <td class='sc' group='dvie' id='td_DbnsMuonPmtHvVmon__dvie13'></td>
	        <td class='sc' group='dvie' id='td_DbnsMuonPmtHvVmon__dvie14'></td>
	    </tr>
	</table>
	<table class='elec_table hidden' id='table_DbnsMuonPmtHvVmon__dvid'>
		<tr>
	        <td class='head'>Wall D</td>
	        <td class='head'>Column 1</td>
	        <td class='head'>Column 2</td>
	    </tr>
		<tr>
			<td class='head'>Row 4</td>
	        <td class='sc' group='dvid' id='td_DbnsMuonPmtHvVmon__dvid41'></td>
	        <td class='sc' group='dvid' id='td_DbnsMuonPmtHvVmon__dvid42'></td>
	    </tr>
		<tr>
			<td class='head'>Row 3</td>
	        <td class='sc' group='dvid' id='td_DbnsMuonPmtHvVmon__dvid31'></td>
	        <td class='sc' group='dvid' id='td_DbnsMuonPmtHvVmon__dvid32'></td>
	    </tr>
		<tr>
			<td class='head'>Row 2</td>
	        <td class='sc' group='dvid' id='td_DbnsMuonPmtHvVmon__dvid21'></td>
	        <td class='sc' group='dvid' id='td_DbnsMuonPmtHvVmon__dvid22'></td>
	    </tr>
		<tr>
			<td class='head'>Row 1</td>
	        <td class='sc' group='dvid' id='td_DbnsMuonPmtHvVmon__dvid11'></td>
	        <td class='sc' group='dvid' id='td_DbnsMuonPmtHvVmon__dvid12'></td>
	    </tr>                                                
	</table>
	<table class='elec_table hidden' id='table_DbnsMuonPmtHvVmon__dvic'>
		<tr>
	        <td class='head'>Wall C</td>
	        <td class='head'>Column 1</td>
	        <td class='head'>Column 2</td>
	    </tr>
		<tr>
			<td class='head'>Row 4</td>
	        <td class='sc' group='dvic' id='td_DbnsMuonPmtHvVmon__dvic41'></td>
	        <td class='sc' group='dvic' id='td_DbnsMuonPmtHvVmon__dvic42'></td>
	    </tr>
		<tr>
			<td class='head'>Row 3</td>
	        <td class='sc' group='dvic' id='td_DbnsMuonPmtHvVmon__dvic31'></td>
	        <td class='sc' group='dvic' id='td_DbnsMuonPmtHvVmon__dvic32'></td>
	    </tr>
		<tr>
			<td class='head'>Row 2</td>
	        <td class='sc' group='dvic' id='td_DbnsMuonPmtHvVmon__dvic21'></td>
	        <td class='sc' group='dvic' id='td_DbnsMuonPmtHvVmon__dvic22'></td>
	    </tr>
		<tr>
			<td class='head'>Row 1</td>
	        <td class='sc' group='dvic' id='td_DbnsMuonPmtHvVmon__dvic11'></td>
	        <td class='sc' group='dvic' id='td_DbnsMuonPmtHvVmon__dvic12'></td>
	    </tr>                                                
	</table>
	<table class='elec_table hidden' id='table_DbnsMuonPmtHvVmon__dvib'>
		<tr>
	        <td class='head'>Wall B</td>
	        <td class='head'>Column 1</td>
	        <td class='head'>Column 2</td>
	    </tr>
		<tr>
			<td class='head'>Row 4</td>
	        <td class='sc' group='dvib' id='td_DbnsMuonPmtHvVmon__dvib41'></td>
	        <td class='sc' group='dvib' id='td_DbnsMuonPmtHvVmon__dvib42'></td>
	    </tr>
		<tr>
			<td class='head'>Row 3</td>
	        <td class='sc' group='dvib' id='td_DbnsMuonPmtHvVmon__dvib31'></td>
	        <td class='sc' group='dvib' id='td_DbnsMuonPmtHvVmon__dvib32'></td>
	    </tr>
		<tr>
			<td class='head'>Row 2</td>
	        <td class='sc' group='dvib' id='td_DbnsMuonPmtHvVmon__dvib21'></td>
	        <td class='sc' group='dvib' id='td_DbnsMuonPmtHvVmon__dvib22'></td>
	    </tr>
		<tr>
			<td class='head'>Row 1</td>
	        <td class='sc' group='dvib' id='td_DbnsMuonPmtHvVmon__dvib11'></td>
	        <td class='sc' group='dvib' id='td_DbnsMuonPmtHvVmon__dvib12'></td>
	    </tr>                                                
	</table>
	<table class='elec_table hidden' id='table_DbnsMuonPmtHvVmon__dvia'>
		<tr>
	        <td class='head'>Wall A</td>
	        <td class='head'>Column 1</td>
	        <td class='head'>Column 2</td>
	        <td class='head'>Column 3</td>
	        <td class='head'>Column 4</td>
	    </tr>
		<tr>
			<td class='head'>Row 4</td>
	        <td class='sc' group='dvia' id='td_DbnsMuonPmtHvVmon__dvia41'></td>
	        <td class='sc' group='dvia' id='td_DbnsMuonPmtHvVmon__dvia42'></td>
	        <td class='sc' group='dvia' id='td_DbnsMuonPmtHvVmon__dvia43'></td>
	        <td class='sc' group='dvia' id='td_DbnsMuonPmtHvVmon__dvia44'></td>
	    </tr>
		<tr>
			<td class='head'>Row 3</td>
	        <td class='sc' group='dvia' id='td_DbnsMuonPmtHvVmon__dvia31'></td>
	        <td class='sc' group='dvia' id='td_DbnsMuonPmtHvVmon__dvia32'></td>
	        <td class='sc' group='dvia' id='td_DbnsMuonPmtHvVmon__dvia33'></td>
	        <td class='sc' group='dvia' id='td_DbnsMuonPmtHvVmon__dvia34'></td>
	    </tr>
		<tr>
			<td class='head'>Row 2</td>
	        <td class='sc' group='dvia' id='td_DbnsMuonPmtHvVmon__dvia21'></td>
	        <td class='sc' group='dvia' id='td_DbnsMuonPmtHvVmon__dvia22'></td>
	        <td class='sc' group='dvia' id='td_DbnsMuonPmtHvVmon__dvia23'></td>
	        <td class='sc' group='dvia' id='td_DbnsMuonPmtHvVmon__dvia24'></td>
	    </tr>
		<tr>
			<td class='head'>Row 1</td>
	        <td class='sc' group='dvia' id='td_DbnsMuonPmtHvVmon__dvia11'></td>
	        <td class='sc' group='dvia' id='td_DbnsMuonPmtHvVmon__dvia12'></td>
	        <td class='sc' group='dvia' id='td_DbnsMuonPmtHvVmon__dvia13'></td>
	        <td class='sc' group='dvia' id='td_DbnsMuonPmtHvVmon__dvia14'></td>
	    </tr>
	</table>
</div>
<div class="clear"></div>
