{# OWS Outward Facing HV #}

<div class="grid_24" style='margin-bottom: 10px;'>
    <table class='elec_table'>
	<thead><tr>
		<th colspan="3" style='text-align: center;'>Outer WP Outward Facing PMT HV</th>
	</tr></thead>
    <tbody>
        <tr>
			<td><a class='HV live' id='DbnsMuonPmtHvVmon__dvoa' href='#'>&nbsp; Wall A &nbsp;</a></td>
			<td><a class='HV live' id='DbnsMuonPmtHvVmon__dvob' href='#'>&nbsp; Wall B &nbsp;</a></td>
			<td><a class='HV live' id='DbnsMuonPmtHvVmon__dvoc' href='#'>&nbsp; Wall C &nbsp;</a></td>
			<td><a class='HV live' id='DbnsMuonPmtHvVmon__dvod' href='#'>&nbsp; Wall D &nbsp;</a></td>
			<td><a class='HV live' id='DbnsMuonPmtHvVmon__dvoe' href='#'>&nbsp; Wall E &nbsp;</a></td>
			<td><a class='HV live' id='DbnsMuonPmtHvVmon__dvof' href='#'>&nbsp; Wall F &nbsp;</a></td>
			<td><a class='HV live' id='DbnsMuonPmtHvVmon__dvog' href='#'>&nbsp; Wall G &nbsp;</a></td>
			<td><a class='HV live' id='DbnsMuonPmtHvVmon__dvoh' href='#'>&nbsp; Wall H &nbsp;</a></td>
			<td><a class='HV live' id='DbnsMuonPmtHvVmon__dvof' href='#'>&nbsp; Floor &nbsp;</a></td>
		</tr>
    </tbody>
	</table>
</div>
<div class="clear"></div>

<div class="grid_24">
	<table class='elec_table hidden' id='table_DbnsMuonPmtHvVmon__dvof'>
		<tr>
	        <td class='head'>Floor</td>
	        <td class='head'>Column 1</td>
	        <td class='head'>Column 2</td>
	        <td class='head'>Column 3</td>
	    </tr>
		<tr>
			<td class='head'>Wall A</td>
	        <td class='sc' group='dvof' id='td_DbnsMuonPmtHvVmon__dvoaf1'></td>
	        <td class='sc' group='dvof' id='td_DbnsMuonPmtHvVmon__dvoaf2'></td>
	        <td class='sc' group='dvof' id='td_DbnsMuonPmtHvVmon__dvoaf3'></td>
	    </tr>
		<tr>
			<td class='head'>Wall B</td>
	        <td class='sc' group='dvof' id='td_DbnsMuonPmtHvVmon__dvobf1'></td>
	        <td></td>
	        <td class='sc' group='dvof' id='td_DbnsMuonPmtHvVmon__dvobf3'></td>
	    </tr>
		<tr>
			<td class='head'>Wall C</td>
	        <td class='sc' group='dvof' id='td_DbnsMuonPmtHvVmon__dvocf1'></td>
	        <td></td>
	        <td></td>
	    </tr>
		<tr>
			<td class='head'>Wall D</td>
	        <td class='sc' group='dvof' id='td_DbnsMuonPmtHvVmon__dvodf1'></td>
	        <td></td>
	        <td class='sc' group='dvof' id='td_DbnsMuonPmtHvVmon__dvodf3'></td>
	    </tr>
		<tr>
			<td class='head'>Wall E</td>
	        <td class='sc' group='dvof' id='td_DbnsMuonPmtHvVmon__dvoef1'></td>
	        <td class='sc' group='dvof' id='td_DbnsMuonPmtHvVmon__dvoef2'></td>
	        <td class='sc' group='dvof' id='td_DbnsMuonPmtHvVmon__dvoef3'></td>
	    </tr>
		<tr>
			<td class='head'>Wall F</td>
	        <td class='sc' group='dvof' id='td_DbnsMuonPmtHvVmon__dvoff1'></td>
	        <td></td>
	        <td class='sc' group='dvof' id='td_DbnsMuonPmtHvVmon__dvoff3'></td>
	    </tr>
		<tr>
			<td class='head'>Wall G</td>
	        <td class='sc' group='dvof' id='td_DbnsMuonPmtHvVmon__dvogf1'></td>
	        <td></td>
	        <td></td>
	    </tr>
		<tr>
			<td class='head'>Wall H</td>
	        <td class='sc' group='dvof' id='td_DbnsMuonPmtHvVmon__dvohf1'></td>
	        <td></td>
	        <td class='sc' group='dvof' id='td_DbnsMuonPmtHvVmon__dvohf3'></td>
	    </tr>
	</table>
	<table class='elec_table hidden' id='table_DbnsMuonPmtHvVmon__dvoh'>
		<tr>
	        <td class='head'>Wall H</td>
	        <td class='head'>Column 1</td>
	        <td class='head'>Column 2</td>
	    </tr>
		<tr>
			<td class='head'>Row 4</td>
	        <td class='sc' group='dvoh' id='td_DbnsMuonPmtHvVmon__dvoh41'></td>
	        <td class='sc' group='dvoh' id='td_DbnsMuonPmtHvVmon__dvoh42'></td>
	    </tr>
		<tr>
			<td class='head'>Row 3</td>
	        <td class='sc' group='dvoh' id='td_DbnsMuonPmtHvVmon__dvoh31'></td>
	        <td class='sc' group='dvoh' id='td_DbnsMuonPmtHvVmon__dvoh32'></td>
	    </tr>
		<tr>
			<td class='head'>Row 2</td>
	        <td class='sc' group='dvoh' id='td_DbnsMuonPmtHvVmon__dvoh21'></td>
	        <td class='sc' group='dvoh' id='td_DbnsMuonPmtHvVmon__dvoh22'></td>
	    </tr>
		<tr>
			<td class='head'>Row 1</td>
	        <td class='sc' group='dvoh' id='td_DbnsMuonPmtHvVmon__dvoh11'></td>
	        <td class='sc' group='dvoh' id='td_DbnsMuonPmtHvVmon__dvoh12'></td>
	    </tr>                                                
	</table>
	<table class='elec_table hidden' id='table_DbnsMuonPmtHvVmon__dvog'>
		<tr>
	        <td class='head'>Wall G</td>
	        <td class='head'>Column 1</td>
	    </tr>
		<tr>
			<td class='head'>Row 4</td>
	        <td class='sc' group='dvog' id='td_DbnsMuonPmtHvVmon__dvog41'></td>
	    </tr>
		<tr>
			<td class='head'>Row 3</td>
	        <td class='sc' group='dvog' id='td_DbnsMuonPmtHvVmon__dvog31'></td>
	    </tr>
		<tr>
			<td class='head'>Row 2</td>
	        <td class='sc' group='dvog' id='td_DbnsMuonPmtHvVmon__dvog21'></td>
	    </tr>
		<tr>
			<td class='head'>Row 1</td>
	        <td class='sc' group='dvog' id='td_DbnsMuonPmtHvVmon__dvog11'></td>
	    </tr>                                                
	</table>
	<table class='elec_table hidden' id='table_DbnsMuonPmtHvVmon__dvof'>
		<tr>
	        <td class='head'>Wall F</td>
	        <td class='head'>Column 1</td>
	        <td class='head'>Column 2</td>
	    </tr>
		<tr>
			<td class='head'>Row 4</td>
	        <td class='sc' group='dvof' id='td_DbnsMuonPmtHvVmon__dvof41'></td>
	        <td class='sc' group='dvof' id='td_DbnsMuonPmtHvVmon__dvof42'></td>
	    </tr>
		<tr>
			<td class='head'>Row 3</td>
	        <td class='sc' group='dvof' id='td_DbnsMuonPmtHvVmon__dvof31'></td>
	        <td class='sc' group='dvof' id='td_DbnsMuonPmtHvVmon__dvof32'></td>
	    </tr>
		<tr>
			<td class='head'>Row 2</td>
	        <td class='sc' group='dvof' id='td_DbnsMuonPmtHvVmon__dvof21'></td>
	        <td class='sc' group='dvof' id='td_DbnsMuonPmtHvVmon__dvof22'></td>
	    </tr>
		<tr>
			<td class='head'>Row 1</td>
	        <td class='sc' group='dvof' id='td_DbnsMuonPmtHvVmon__dvof11'></td>
	        <td class='sc' group='dvof' id='td_DbnsMuonPmtHvVmon__dvof12'></td>
	    </tr>                                                
	</table>
	<table class='elec_table hidden' id='table_DbnsMuonPmtHvVmon__dvoe'>
		<tr>
	        <td class='head'>Wall E</td>
	        <td class='head'>Column 1</td>
	        <td class='head'>Column 2</td>
	        <td class='head'>Column 3</td>
	    </tr>
		<tr>
			<td class='head'>Row 4</td>
	        <td class='sc' group='dvoe' id='td_DbnsMuonPmtHvVmon__dvoe41'></td>
	        <td class='sc' group='dvoe' id='td_DbnsMuonPmtHvVmon__dvoe42'></td>
	        <td class='sc' group='dvoe' id='td_DbnsMuonPmtHvVmon__dvoe43'></td>
	    </tr>
		<tr>
			<td class='head'>Row 3</td>
	        <td class='sc' group='dvoe' id='td_DbnsMuonPmtHvVmon__dvoe31'></td>
	        <td class='sc' group='dvoe' id='td_DbnsMuonPmtHvVmon__dvoe32'></td>
	        <td class='sc' group='dvoe' id='td_DbnsMuonPmtHvVmon__dvoe33'></td>
	    </tr>
		<tr>
			<td class='head'>Row 2</td>
	        <td class='sc' group='dvoe' id='td_DbnsMuonPmtHvVmon__dvoe21'></td>
	        <td class='sc' group='dvoe' id='td_DbnsMuonPmtHvVmon__dvoe22'></td>
	        <td class='sc' group='dvoe' id='td_DbnsMuonPmtHvVmon__dvoe23'></td>
	    </tr>
		<tr>
			<td class='head'>Row 1</td>
	        <td class='sc' group='dvoe' id='td_DbnsMuonPmtHvVmon__dvoe11'></td>
	        <td class='sc' group='dvoe' id='td_DbnsMuonPmtHvVmon__dvoe12'></td>
	        <td class='sc' group='dvoe' id='td_DbnsMuonPmtHvVmon__dvoe13'></td>
	    </tr>
	</table>
	<table class='elec_table hidden' id='table_DbnsMuonPmtHvVmon__dvod'>
		<tr>
	        <td class='head'>Wall D</td>
	        <td class='head'>Column 1</td>
	        <td class='head'>Column 2</td>
	    </tr>
		<tr>
			<td class='head'>Row 4</td>
	        <td class='sc' group='dvod' id='td_DbnsMuonPmtHvVmon__dvod41'></td>
	        <td class='sc' group='dvod' id='td_DbnsMuonPmtHvVmon__dvod42'></td>
	    </tr>
		<tr>
			<td class='head'>Row 3</td>
	        <td class='sc' group='dvod' id='td_DbnsMuonPmtHvVmon__dvod31'></td>
	        <td class='sc' group='dvod' id='td_DbnsMuonPmtHvVmon__dvod32'></td>
	    </tr>
		<tr>
			<td class='head'>Row 2</td>
	        <td class='sc' group='dvod' id='td_DbnsMuonPmtHvVmon__dvod21'></td>
	        <td class='sc' group='dvod' id='td_DbnsMuonPmtHvVmon__dvod22'></td>
	    </tr>
		<tr>
			<td class='head'>Row 1</td>
	        <td class='sc' group='dvod' id='td_DbnsMuonPmtHvVmon__dvod11'></td>
	        <td class='sc' group='dvod' id='td_DbnsMuonPmtHvVmon__dvod12'></td>
	    </tr>                                                
	</table>
	<table class='elec_table hidden' id='table_DbnsMuonPmtHvVmon__dvoc'>
		<tr>
	        <td class='head'>Wall C</td>
	        <td class='head'>Column 1</td>
	    </tr>
		<tr>
			<td class='head'>Row 4</td>
	        <td class='sc' group='dvoc' id='td_DbnsMuonPmtHvVmon__dvoc41'></td>
	    </tr>
		<tr>
			<td class='head'>Row 3</td>
	        <td class='sc' group='dvoc' id='td_DbnsMuonPmtHvVmon__dvoc31'></td>
	    </tr>
		<tr>
			<td class='head'>Row 2</td>
	        <td class='sc' group='dvoc' id='td_DbnsMuonPmtHvVmon__dvoc21'></td>
	    </tr>
		<tr>
			<td class='head'>Row 1</td>
	        <td class='sc' group='dvoc' id='td_DbnsMuonPmtHvVmon__dvoc11'></td>
	    </tr>                                                
	</table>
	<table class='elec_table hidden' id='table_DbnsMuonPmtHvVmon__dvob'>
		<tr>
	        <td class='head'>Wall B</td>
	        <td class='head'>Column 1</td>
	        <td class='head'>Column 2</td>
	    </tr>
		<tr>
			<td class='head'>Row 4</td>
	        <td class='sc' group='dvob' id='td_DbnsMuonPmtHvVmon__dvob41'></td>
	        <td class='sc' group='dvob' id='td_DbnsMuonPmtHvVmon__dvob42'></td>
	    </tr>
		<tr>
			<td class='head'>Row 3</td>
	        <td class='sc' group='dvob' id='td_DbnsMuonPmtHvVmon__dvob31'></td>
	        <td class='sc' group='dvob' id='td_DbnsMuonPmtHvVmon__dvob32'></td>
	    </tr>
		<tr>
			<td class='head'>Row 2</td>
	        <td class='sc' group='dvob' id='td_DbnsMuonPmtHvVmon__dvob21'></td>
	        <td class='sc' group='dvob' id='td_DbnsMuonPmtHvVmon__dvob22'></td>
	    </tr>
		<tr>
			<td class='head'>Row 1</td>
	        <td class='sc' group='dvob' id='td_DbnsMuonPmtHvVmon__dvob11'></td>
	        <td class='sc' group='dvob' id='td_DbnsMuonPmtHvVmon__dvob12'></td>
	    </tr>                                                
	</table>
	<table class='elec_table hidden' id='table_DbnsMuonPmtHvVmon__dvoa'>
		<tr>
	        <td class='head'>Wall A</td>
	        <td class='head'>Column 1</td>
	        <td class='head'>Column 2</td>
	        <td class='head'>Column 3</td>
	    </tr>
		<tr>
			<td class='head'>Row 4</td>
	        <td class='sc' group='dvoa' id='td_DbnsMuonPmtHvVmon__dvoa41'></td>
	        <td class='sc' group='dvoa' id='td_DbnsMuonPmtHvVmon__dvoa42'></td>
	        <td class='sc' group='dvoa' id='td_DbnsMuonPmtHvVmon__dvoa43'></td>
	    </tr>
		<tr>
			<td class='head'>Row 3</td>
	        <td class='sc' group='dvoa' id='td_DbnsMuonPmtHvVmon__dvoa31'></td>
	        <td class='sc' group='dvoa' id='td_DbnsMuonPmtHvVmon__dvoa32'></td>
	        <td class='sc' group='dvoa' id='td_DbnsMuonPmtHvVmon__dvoa33'></td>
	    </tr>
		<tr>
			<td class='head'>Row 2</td>
	        <td class='sc' group='dvoa' id='td_DbnsMuonPmtHvVmon__dvoa21'></td>
	        <td class='sc' group='dvoa' id='td_DbnsMuonPmtHvVmon__dvoa22'></td>
	        <td class='sc' group='dvoa' id='td_DbnsMuonPmtHvVmon__dvoa23'></td>
	    </tr>
		<tr>
			<td class='head'>Row 1</td>
	        <td class='sc' group='dvoa' id='td_DbnsMuonPmtHvVmon__dvoa11'></td>
	        <td class='sc' group='dvoa' id='td_DbnsMuonPmtHvVmon__dvoa12'></td>
	        <td class='sc' group='dvoa' id='td_DbnsMuonPmtHvVmon__dvoa13'></td>
	    </tr>
	</table>
</div>
<div class="clear"></div>
