{# VME Temperature #}
<div class = "grid_24">
	<a name="VME"></a>    
     <h2>
         VME Temperature Monitor
    </h2>
</div>    
<div class="clear"></div>

<div class="grid_24" style='margin-bottom: 10px;'>
    <table class='elec_table' id='table_DbnsAd1Vme'>
	<thead><tr>
		<th colspan="2" style='text-align: center;' id='th_DbnsAd1Vme'>AD1 VME</th>
		<th colspan="6" style='text-align: center;' class='th_last_update good'></th>
	</tr></thead>
    <tbody>
	    <tr>
			<th>&nbsp; 1 &nbsp;</th>
			<th>&nbsp; 2 &nbsp;</th>
			<th>&nbsp; 3 &nbsp;</th>
			<th>&nbsp; 4 &nbsp;</th>
			<th>&nbsp; 5 &nbsp;</th>
			<th>&nbsp; 6 &nbsp;</th>
			<th>&nbsp; 7 &nbsp;</th>
			<th>&nbsp; 8 &nbsp;</th>
		</tr>
        <tr>
			<td class='sc' id='td_DbnsAd1Vme__temperature1' ></td>
			<td class='sc' id='td_DbnsAd1Vme__temperature2' ></td>
			<td class='sc' id='td_DbnsAd1Vme__temperature3' ></td>
			<td class='sc' id='td_DbnsAd1Vme__temperature4' ></td>
			<td class='sc' id='td_DbnsAd1Vme__temperature5' ></td>
			<td class='sc' id='td_DbnsAd1Vme__temperature6' ></td>
			<td class='sc' id='td_DbnsAd1Vme__temperature7' ></td>
			<td class='sc' id='td_DbnsAd1Vme__temperature8' ></td>
		</tr>
    </tbody>
	</table>
</div>
<div class="clear"></div>

<div class="grid_24" style='margin-bottom: 10px;'>
    <table class='elec_table' id='table_DbnsAd2Vme'>
	<thead><tr>
		<th colspan="2" style='text-align: center;' id='th_DbnsAd2Vme'>AD2 VME</th>
		<th colspan="6" style='text-align: center;' class='th_last_update good'></th>
	</tr></thead>
    <tbody>
	    <tr>
			<th>&nbsp; 1 &nbsp;</th>
			<th>&nbsp; 2 &nbsp;</th>
			<th>&nbsp; 3 &nbsp;</th>
			<th>&nbsp; 4 &nbsp;</th>
			<th>&nbsp; 5 &nbsp;</th>
			<th>&nbsp; 6 &nbsp;</th>
			<th>&nbsp; 7 &nbsp;</th>
			<th>&nbsp; 8 &nbsp;</th>
		</tr>
        <tr>
			<td class='sc' id='td_DbnsAd2Vme__temperature1' ></td>
			<td class='sc' id='td_DbnsAd2Vme__temperature2' ></td>
			<td class='sc' id='td_DbnsAd2Vme__temperature3' ></td>
			<td class='sc' id='td_DbnsAd2Vme__temperature4' ></td>
			<td class='sc' id='td_DbnsAd2Vme__temperature5' ></td>
			<td class='sc' id='td_DbnsAd2Vme__temperature6' ></td>
			<td class='sc' id='td_DbnsAd2Vme__temperature7' ></td>
			<td class='sc' id='td_DbnsAd2Vme__temperature8' ></td>
		</tr>
    </tbody>
	</table>
</div>
<div class="clear"></div>

<div class="grid_24" style='margin-bottom: 10px;'>
    <table class='elec_table' id='table_DbnsIWVme'>
	<thead><tr>
		<th colspan="2" style='text-align: center;' id='th_DbnsIWVme'>Inner WP VME</th>
		<th colspan="6" style='text-align: center;' class='th_last_update good'></th>
	</tr></thead>
    <tbody>
	    <tr>
			<th>&nbsp; 1 &nbsp;</th>
			<th>&nbsp; 2 &nbsp;</th>
			<th>&nbsp; 3 &nbsp;</th>
			<th>&nbsp; 4 &nbsp;</th>
			<th>&nbsp; 5 &nbsp;</th>
			<th>&nbsp; 6 &nbsp;</th>
			<th>&nbsp; 7 &nbsp;</th>
			<th>&nbsp; 8 &nbsp;</th>
		</tr>
        <tr>
			<td class='sc' id='td_DbnsIWVme__temperature1' ></td>
			<td class='sc' id='td_DbnsIWVme__temperature2' ></td>
			<td class='sc' id='td_DbnsIWVme__temperature3' ></td>
			<td class='sc' id='td_DbnsIWVme__temperature4' ></td>
			<td class='sc' id='td_DbnsIWVme__temperature5' ></td>
			<td class='sc' id='td_DbnsIWVme__temperature6' ></td>
			<td class='sc' id='td_DbnsIWVme__temperature7' ></td>
			<td class='sc' id='td_DbnsIWVme__temperature8' ></td>
		</tr>
    </tbody>
	</table>
</div>
<div class="clear"></div>

<div class="grid_24" style='margin-bottom: 10px;'>
    <table class='elec_table' id='table_DbnsOWVme'>
	<thead><tr>
		<th colspan="2" style='text-align: center;' id='th_DbnsOWVme'>Outer WP VME</th>
		<th colspan="6" style='text-align: center;' class='th_last_update good'></th>
	</tr></thead>
    <tbody>
	    <tr>
			<th>&nbsp; 1 &nbsp;</th>
			<th>&nbsp; 2 &nbsp;</th>
			<th>&nbsp; 3 &nbsp;</th>
			<th>&nbsp; 4 &nbsp;</th>
			<th>&nbsp; 5 &nbsp;</th>
			<th>&nbsp; 6 &nbsp;</th>
			<th>&nbsp; 7 &nbsp;</th>
			<th>&nbsp; 8 &nbsp;</th>
		</tr>
        <tr>
			<td class='sc' id='td_DbnsOWVme__temperature1' ></td>
			<td class='sc' id='td_DbnsOWVme__temperature2' ></td>
			<td class='sc' id='td_DbnsOWVme__temperature3' ></td>
			<td class='sc' id='td_DbnsOWVme__temperature4' ></td>
			<td class='sc' id='td_DbnsOWVme__temperature5' ></td>
			<td class='sc' id='td_DbnsOWVme__temperature6' ></td>
			<td class='sc' id='td_DbnsOWVme__temperature7' ></td>
			<td class='sc' id='td_DbnsOWVme__temperature8' ></td>
		</tr>
    </tbody>
	</table>
</div>
<div class="clear"></div>

<div class="grid_24" style='margin-bottom: 10px;'>
    <table class='elec_table' id='table_DbnsRPCVme'>
	<thead><tr>
		<th colspan="2" style='text-align: center;' id='th_DbnsRPCVme'>RPC VME</th>
		<th colspan="6" style='text-align: center;' class='th_last_update good'></th>
	</tr></thead>
    <tbody>
	    <tr>
			<th>&nbsp; 1 &nbsp;</th>
			<th>&nbsp; 2 &nbsp;</th>
			<th>&nbsp; 3 &nbsp;</th>
			<th>&nbsp; 4 &nbsp;</th>
			<th>&nbsp; 5 &nbsp;</th>
			<th>&nbsp; 6 &nbsp;</th>
			<th>&nbsp; 7 &nbsp;</th>
			<th>&nbsp; 8 &nbsp;</th>
		</tr>
        <tr>
			<td class='sc' id='td_DbnsRPCVme__temperature1' ></td>
			<td class='sc' id='td_DbnsRPCVme__temperature2' ></td>
			<td class='sc' id='td_DbnsRPCVme__temperature3' ></td>
			<td class='sc' id='td_DbnsRPCVme__temperature4' ></td>
			<td class='sc' id='td_DbnsRPCVme__temperature5' ></td>
			<td class='sc' id='td_DbnsRPCVme__temperature6' ></td>
			<td class='sc' id='td_DbnsRPCVme__temperature7' ></td>
			<td class='sc' id='td_DbnsRPCVme__temperature8' ></td>
		</tr>
    </tbody>
	</table>
</div>
<div class="clear"></div>
