/* main style for odm */

/* comment the following line for production site*/
/*.container_24{ background: #fff url(../img/24_col.gif) repeat-y; }*/

/* defaults */
body { font-family: Lucida Grande, Verdana, Geneva, Sans-serif; font-size: 13px; color: #333; background: #fff; }
p { margin-bottom: 20px; }
sup { font-size: 0.7em; }
#footer { /*background: #9c9;*/ height: 29px; margin-top: 50px; margin-bottom: 30px; }
#footer p {/*color: #47663a;*/ color: #999; text-align: center; margin-top: 6px; font-weight:normal;}
pre { font-family: Monaco, Consolas, Verdana, Sans-serif;
    background-color: #f9f9f9; border: 1px solid #D0D0D0; display: block;
    font-size: 12px; overflow: auto; color: #002166; padding: 12px 10px 12px 10px;
}
.sidebar ul { list-style-image: url(../img/arrow.gif);}
.sidebar li { padding: 0; margin: 6px 0 0 0; }

/* text selection */
::selection { background: #ffcc89; } /* Safari */ 
::-moz-selection { background: #ffcc89; } /* Firefox */

.hidden { display: none; }
/*.errorlist { color: red; }
.errorlist ul { display: inline;}*/
ul.errorlist { margin: 0; padding: 0; list-style: none;}
.errorlist li { color: red; margin: 0 0 5px; padding: 4px 10px; }
.token { color: #F2583E; }
.warning { color: #F2583E; }
#content th.warning { color: red; background-color: white; border: 1px solid red;}
#content td.warning { color: red; }
.great { color: green; }
.sep { color: #bbb; font-weight: normal;}
.right {float: right;}
.left {float: left;}

/* link #125ca2 */
a { color: #125ca2; background-color: transparent; text-decoration: none; font-weight: normal; outline-style: none; }
a:visited { color: #125ca2; background-color: transparent; text-decoration: none; outline-style: none; }
a:hover { /*color: #ff8f28;*/ text-decoration: underline; background-color: transparent; outline-style: none; }

/* content */
#content h1 { color: #e13300; font-size: 24px; margin: 30px 0 20px 0; padding: 3px 0 7px 3px; border-bottom: 1px solid #666; font-weight: normal; }
#content h2 { color: #000; font-size: 18px; margin: 30px 0 16px 0; padding: 5px 0 6px 5px; border-bottom: 1px solid #999; }
#content h3 { color: #333; font-size: 16px; margin: 16px 0 15px 0; padding: 0; font-weight: bold; }
#content h4 { color: #444; font-size: 14px; margin: 22px 0 0 0; font-weight: bold; }
#content h5 { color: #444; font-size: 14px; font-weight: bold; display: inline; }
#content h6 { color: #444; font-size: 12px; font-weight: bold; display: inline; }
#content h3.side_heading { background-color: #F08080;}

/* content table */
#content table { width: 100%; }
#content th { border: 1px solid #fff; font-weight: bold; text-align: left; font-size: 12px; background-color: #666; color: #fff; padding: 4px; margin: 10px;}
#content td { border: 1px solid #fff; font-weight: normal; font-size: 12px; padding: 6px; background-color: #f3f3f3; }
#content td.descr { font-weight: bold; background-color: #deedf7; text-align: right; padding-right: 15px; }
#content td.value { font-weight: bold; background-color: #e3f9e2; padding-left: 10px;}
#content table.nostyle td { border: none; background-color: transparent; text-align: center;}
#pmtinfo_table td.descr {}
#pmtinfo_table td.value { width: 60px; }

/* bookmarks */
#nav { background-color: #494949; margin: 0; padding: 0; }
#nav2 { background: #fff url(../img/nav_bg_darker.jpg) repeat-x left top; padding: 0 200px 0 0; margin: 0; text-align: right; }
#nav_inner { background-color: transparent; padding: 8px 12px 0 20px; margin: 0; font-family: Lucida Grande, Verdana, Geneva, Sans-serif; font-size: 12px; }
#nav_inner h3 { font-size: 13px; color: #fff; margin: 0; padding: 5px 0 0 0; }
#nav_inner .td_sep { background: transparent url(../img/nav_separator_darker.jpg) repeat-y left top; width: 25%; padding: 0 0 0 20px; }
#nav_inner .td { width: 25%; }
#nav_inner p { color: #eee; background-color: transparent; padding:0; margin: 0 0 10px 0; }
#nav_inner ul { list-style-image: url(../img/arrow.gif); padding: 0 0 0 18px; margin: 8px 0 12px 0; }
#nav_inner li { padding: 0; margin: 0 0 6px 0; }
#nav_inner a { color: #eee; }
#nav_inner a:visited { color: #eee; }
#nav_inner a:hover { color: #ccc; }

/* content form */
#content form th { border: none; font-weight: bold; text-align: right; vertical-align: middle; font-size: 12px; color: #333; padding-right: 10px; background-color: transparent; }
#content form td { border: none; font-weight: normal; font-size: 12px; padding: 6px; background-color: transparent; }
#content form ul { list-style: none; }

/* production plots */
#content table.production td { color: #444; font-size: 12px; font-weight: bold; text-align: center; }
#content table.production .figname { display: block; margin: 8px 0 6px 0; }
#content img.loading { display:inline; padding-left: 10px; }

/* site-detector map */
#content .det_table { border-color: #ccc; border-style: solid; border-width: 0 0 1px 1px; }
#content .det_table td { text-align: center; background: transparent; border-width: 1px 1px 0 0; border-style: solid; border-color: #ccc; padding: 4px; }
#content .det_table a:hover { text-decoration: none; color: #ff8f28;}
#content .det_table a.det { background: #ddd;}
#content .det_table a.no_det { color: #ccc; }
#content .det_table a.live_det { background: #7F0; /* 5F0 */}

/* sidebar */
#content .notepad table { background-color: #fff; padding-top:20px; }
#content .notepad h3 { 
    border-left: 2px solid #aed0ea; border-right: 2px solid #aed0ea; border-top: 2px solid #aed0ea; border-bottom: 1px solid #aed0ea; 
    color: #d52a33; background: #fefdfa; text-align: center; padding: 5px; width:auto; margin: 0;}
#content .notepad ul { list-style: none; width:100%;}
#content .notepad button { width:100%;}

/* lengend */
.legend { padding: 5px 5px 8px 30px; }
.legend a { border: 1px solid #333; }
a.ADCalib { background: #cfeaa5; }
a.Physics { background: white; }
a.Pedestal { background: #f2c1ba; }
a.FEEDiag { background: #ddd3f3; }

/* progress bar label */
.pb_label { 
    position: absolute; width: 950px; display:inline; 
    text-align: center; line-height: 2em; 
    color: #444; font-weight: bold; }

#showcase td { text-align: center; vertical-align: center; }
#showcase td a { display: block; padding-top: 1em;}

/* comments */
.comment_header { margin: 15px 0 0 5px; }
.comment_date { /*font-style: italic;*/  color: #999; }
.comment_username { /*font-size: 14px;*/ color: #930; margin-left: 5px;}
.comment_content { border-top: 1px solid #ddd; margin: 15px 40px 40px 40px; padding: 10px;}
.comment_content ul { margin-left: 20px;}
.comment_content ol { margin-left: 25px;}

/* dcs charts */
.dcs_chart { height: 200px; margin-top:10px; }
.dcs_header { margin-top:20px; }

#content table.monitor td{ width: 450px; height: 338px; vertical-align: bottom;}

#content .img_comp {float: right; margin-right: 30px;}

/* dcs electronic */
#content .elec_table { border-color: #ccc; border-style: solid; border-width: 0 0 1px 1px; }
#content .elec_table td { text-align: center; background: transparent; border-width: 1px 1px 0 0; border-style: solid; border-color: #ccc; padding: 10px; }
#content .elec_table a { padding: 4px;}
#content .elec_table a:hover { text-decoration: none; color: #ff8f28;}
#content .elec_table a.live { background: #7F0;}
#content .elec_table a.down { background: red; color: white;}


