/* quick search box */
#quick_search { position: relative; margin-top: 18px; }
#quick_search_field { border: 2px solid #92b8cc; background: #eef6fb; height: 21px; width: 100px; font-size: 12px; padding-left: 5px;}
#search-button { position: absolute; right: -9px; top: -2px; width: 32px; border: none; }

/* menu #e3f9e2 */
#zone-bar { background: #ebf3f6; height: 32px; padding-top: 7px; margin-top: 10px;/* border-top: 1px solid #aaa;*/}
#zone-bar ul { list-style: none inside; display: block; float: left; }
#zone-bar ul li { height: 18px; padding-top: 5px; margin-left: 20px; position: relative; float: left; }
#zone-bar ul li:hover { background: url(../img/zonebar-navleft.png) center left no-repeat; }
#zone-bar ul li a {
    display: block; float: left;
    height: 23px; position: relative; top: -5px; right: -5px; padding-right: 3px;
    color: #383838; font-weight: bold; font-size: 13px; text-decoration: none;
}
#zone-bar ul li a:hover { background: url(../img/zonebar-navright.png) center right no-repeat; }
#zone-bar ul li a span { position: relative; top: 6px; }
#zone-bar ul li.menu_separator { display: block; height: 3px; border-top: 1px solid #d4d4d4; margin-bottom: 5px; }
#zone-bar ul li ul {
    display: none; position: absolute; top: 29px; left: 0px; width: 150px;
    border: 1px solid #ccc; background: white; padding: 10px 0 0 0;
}
#zone-bar ul li ul li { float: none; padding: 0; margin: 0; height: 100%; }
#zone-bar ul li ul li:hover { background: none; }
#zone-bar ul li ul li a { display: block; float: none; margin-left: -5px; padding: 5px 0 0 10px; width: 140px; }
#zone-bar ul li ul li a:hover { background: #d9f0b7; }