<table>
   <thead><tr>
      <th>Run No</th>
      <th>Detector</th>
      <th>Start Time [Beijing]</th>
      {# <th>Run Length</th> #}
      <th>ACU1</th>
      <th>Z1 [mm]</th>
      <th>Volt.1 [mV]</th>
      <th>ACU2</th>
      <th>Z2 [mm]</th>
      <th>Volt.2 [mV]</th>
      <th>Pulse Sep. [ns]</th>
      <th>Freq. [Hz]</th>
      <th>Dur. [s]</th>
      <th>More</th>
   </tr></thead>
   <tbody>
       {% for run in run_list %}
           <tr>
               <td class='runno'><a href="{{ run.get_absolute_url }}">{{ run.runno }}</a></td>
               <td>{{ run.detector }}</td>
               <td>{{ run.vld.timestart_beijing }}</td>
               {# <td>{{ run.vld.runlength }}</td> #}
               <td>{{ run.acu_for_led }}</td>
               <td>{{ run.z_for_led }}</td>
               <td>{{ run.ledvoltage1 }}</td>
               <td>{{ run.acu2_for_led }}</td>
               <td>{{ run.z2_for_led }}</td>
               <td>{{ run.ledvoltage2 }}</td>
               <td>{{ run.ledpulsesep }}</td>
               <td>{{ run.ledfreq }}</td>
               <td>{{ run.duration }}</td>
               <td class='raw'><a href="{{ SITE_ROOT }}/run/calibration/{{ run.runno }}/">raw</a></td>
           </tr>    
       {% endfor %}
   </tbody>
</table>