{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/modal.css")?>
{% endblock %}

{% load pagination %}

{% block title %}ODM | {{ sourcetype }} Runs{% endblock %}

{% block content %}
    
    {# {% if form %} #}
    {# <div class="grid_24" style='margin-top: 10px;'> #}
    {#     {% include "run/search.html" %} #}
    {# </div> #}
    {# <div class="clear"></div> #}
    {# <div class='grid_10'>{{ form.errors }}</div> #}
    {# <div class='clear'></div> #}
    {# {% endif %} #}
    
    <div class = "grid_24">
         <h2>
             {{ description|safe }} Runs ({{ count }})
             {% paginator %}
        </h2>
    </div>    
    <div class="clear"></div> 
    
    <div class = "grid_24">
        {% if sourcetype == "Ge68" or sourcetype == "AmC_Co60" %}
            {% include "run/calibration/source.html" %}
        {% endif %}
        
        {% if sourcetype == "MO_LED" %}
            {% include "run/calibration/mo_led.html" %}
        {% endif %}
        
        {% if sourcetype == "ACU_LED" %}
            {% include "run/calibration/acu_led.html" %}
        {% endif %}
        
        {% if sourcetype == "Double_Pulse" %}
            {% include "run/calibration/double_pulse.html" %}
        {% endif %}
    </div>
    <div class="clear"></div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.simplemodal.1.4.1.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/calibrunlist.js"></script>
{% endblock %}
