<table>
   <thead><tr>
      <th>Run No</th>
      <th>Detector</th>
      <th>Start Time [Beijing]</th>
      <th>Run Length</th>
      <th>ACU</th>
      <th>Z [mm]</th>
      <th>More</th>
   </tr></thead>
   <tbody>
       {% for run in run_list %}
           <tr>
               <td class='runno'><a href="{{ run.get_absolute_url }}">{{ run.runno }}</a></td>
               <td>{{ run.detector }}</td>
               <td>{{ run.vld.timestart_beijing }}</td>
               <td>{{ run.vld.runlength }}</td>
               <td>{{ run.acu_for_source }}</td>
               <td>{{ run.z_for_source }}</td>
               <td class='raw'><a href="{{ SITE_ROOT }}/run/calibration/{{ run.runno }}/">raw</a></td>
           </tr>    
       {% endfor %}
   </tbody>
</table>