{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class='grid_8 prefix_8 suffix_8' style='margin-top:30px;'>
    <h2 align='center'>Login</h2>
    <form method="post" action="."> {% csrf_token %}
      <table>
          {{ form.as_table }}
          <tr><th></th><td style='text-align:left;'>
              <input type="submit" value="{% trans 'Log in' %}"/>
          </td></tr>
      </table>
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
    
    {% comment %}
    <p align='center' style='margin-top:30px'>
        {% trans "Forgot password" %}? 
        <a href="{% url auth_password_reset %}">{% trans "Reset it" %}</a>!
    </p>

    <p align='center'>{% trans "Not member" %}? 
        <a href="{% url registration_register %}">{% trans "Register" %}</a>!
    </p>
    {% endcomment %}
    
</div>
<div class="clear"></div>

{% endblock %}

