{% load lazyutil %}

<div class="grid_24" style='margin-top:20px;'>
     <h2>
         Calibration Settings <span class='sep'>|</span> 
         {{ run.runtype }} Run {{ run.runno }}
    </h2>
</div>
<div class="clear"></div>

{# daq table #}
<div id="calib_section" style='margin-top: 10px;'>
    {% for calibrun in calibrun_list %}
    <div class="grid_12">
        <table>
        <thead><tr>
           <th colspan="2" style='text-align: center;'>Calibration Information</th>
        </tr></thead>
        <tbody>
	        <tr><td class='descr'>AD No.</td><td class='value'>{{ calibrun.adno }}</td></tr>
            <tr><td class='descr'>Source Type</td><td class='value'>{{ calibrun.sourcetype }}</td></tr>
            {% if calibrun.sourcetype == "Ge68" or calibrun.sourcetype == "AmC_Co60" %}
            <tr><td class='descr'>ACU</td><td class='value'>{{ calibrun.acu_for_source }}</td></tr>
            <tr><td class='descr'>Z Position [mm]</td><td class='value'>{{ calibrun.z_for_source }}</td></tr>
            {% endif %}
            {% if calibrun.sourcetype == "MO_LED" %}
            <tr><td class='descr'>MO LED Position</td><td class='value'>{{ calibrun.mo_led }}</td></tr>
            <tr><td class='descr'>Voltage [mV]</td><td class='value'>{{ calibrun.ledvoltage1 }}</td></tr>
            <tr><td class='descr'>Frequency [Hz]</td><td class='value'>{{ calibrun.ledfreq }}</td></tr>
            <tr><td class='descr'>Duration [s]</td><td class='value'>{{ calibrun.duration }}</td></tr>
            {% endif %}
            {% if calibrun.sourcetype == "ACU_LED" %}
            <tr><td class='descr'>ACU</td><td class='value'>{{ calibrun.acu_for_led }}</td></tr>
            <tr><td class='descr'>Z Position [mm]</td><td class='value'>{{ calibrun.z_for_led }}</td></tr>
            <tr><td class='descr'>Voltage [mV]</td><td class='value'>{{ calibrun.ledvoltage1 }}</td></tr>
            <tr><td class='descr'>Frequency [Hz]</td><td class='value'>{{ calibrun.ledfreq }}</td></tr>
            <tr><td class='descr'>Duration [s]</td><td class='value'>{{ calibrun.duration }}</td></tr>
            {% endif %}
            {% if calibrun.sourcetype == "Double_Pulse" %}
            <tr><td class='descr'>ACU</td><td class='value'>{{ calibrun.acu_for_led }}, {{ calibrun.acu2_for_led }}</td></tr>
            <tr><td class='descr'>Z Position [mm]</td><td class='value'>{{ calibrun.z_for_led }}, {{ calibrun.z2_for_led }}</td></tr>
            <tr><td class='descr'>Voltage [mV]</td><td class='value'>{{ calibrun.ledvoltage1 }}, {{ calibrun.ledvoltage2 }}</td></tr>
            <tr><td class='descr'>Pulse Sep. [ns]</td><td class='value'>{{ calibrun.ledpulsesep }}</td></tr>
            <tr><td class='descr'>Frequency [Hz]</td><td class='value'>{{ calibrun.ledfreq }}</td></tr>
            <tr><td class='descr'>Duration [s]</td><td class='value'>{{ calibrun.duration }}</td></tr>
            {% endif %}
            <tr>
                <td class='descr'>Raw Parameters</td>
                <td class='value raw'><a href="{{ SITE_ROOT }}/run/calibration/{{ calibrun.runno }}/AD/{{calibrun.adno}}/">raw</a</td>
            </tr>
       </tbody>
       </table>
    </div>
    {% endfor %}
    <div class="clear"></div>

</div>
    