{% load lazyutil %}

<div class="grid_24" style='margin-top:20px;'>
     <h2>
         Calibration Settings <span class='sep'></span> 
         {{ run.runtype }} Run {{ run.runno }}
    </h2>
</div>
<div class="clear"></div>

{# daq table #}
<div id="calib_section" style='margin-top: 10px;'>

    <div class="grid_8">
        <table>
        <thead><tr>
           <th colspan="2" style='text-align: center;'>Source A</th>
        </tr></thead>
        <tbody>
            {% if calibrun.has_a %}
            <tr><td class='descr'>Source Type</td><td class='value'>{{ calibrun.source_type_a }}</td></tr>
            <tr><td class='descr'>Location</td><td class='value'>{{ calibrun.location_a }}</td></tr>
            <tr><td class='descr'>Z position [mm]</td><td class='value'>{{ calibrun.zpositiona }}</td></tr>
            <tr><td class='descr'>At Home?</td><td class='value'>{{ calibrun.homea|to_bool|yesno:"Yes,No,Undefined" }}</td></tr>
                {% if calibrun.is_led_run %}
                <tr><td class='descr'>LED Voltage [mV]</td><td class='value'>{{ calibrun.ledvoltage1 }}</td></tr>
                <tr><td class='descr'>LED Freq. [Hz]</td><td class='value'>{{ calibrun.ledfreq }}</td></tr>
                    {% if calibrun.has_b %}
                        <tr><td class='descr'>Pulse Sep. [ns]</td><td class='value'>{{ calibrun.ledpulsesep }}</td></tr>
                    {% endif %}
                    <tr><td class='descr'>LTB Mode</td><td class='value'>{{ calibrun.ltbmode|to_bool|yesno:"Forced,Not Forced"}}</td></tr>
                    <tr><td class='descr'>Duration [s]</td><td class='value'>{{ calibrun.duration }}</td></tr>
                {% endif %}            
            {% endif %}
        </tbody>
        </table>
    </div>
    
    <div class="grid_8">
        <table>
        <thead><tr>
           <th colspan="2" style='text-align: center;'>Source B</th>
        </tr></thead>
        <tbody>
            {% if calibrun.has_b %}
            <tr><td class='descr'>Source Type</td><td class='value'>{{ calibrun.source_type_b }}</td></tr>
            <tr><td class='descr'>Location</td><td class='value'>{{ calibrun.location_b }}</td></tr>
            <tr><td class='descr'>Z position [mm]</td><td class='value'>{{ calibrun.zpositionb }}</td></tr>
            <tr><td class='descr'>At Home?</td><td class='value'>{{ calibrun.homeb|to_bool|yesno:"Yes,No,Undefined" }}</td></tr>
                {% if calibrun.is_led_run %}
                <tr><td class='descr'>LED Voltage [mV]</td><td class='value'>{{ calibrun.ledvoltage2 }}</td></tr>
                <tr><td class='descr'>LED Freq. [Hz]</td><td class='value'>{{ calibrun.ledfreq }}</td></tr>
                {% endif %}
            {% endif %}
        </tbody>
        </table>
    </div>
    
    <div class="grid_8">
        <table>
        <thead><tr>
           <th colspan="2" style='text-align: center;'>Source C</th>
        </tr></thead>
        <tbody>
            {% if calibrun.has_c %}
            <tr><td class='descr'>Source Type</td><td class='value'>{{ calibrun.source_type_c }}</td></tr>
            <tr><td class='descr'>Location</td><td class='value'>{{ calibrun.location_c }}</td></tr>
            <tr><td class='descr'>Z position [mm]</td><td class='value'>{{ calibrun.zpositionc }}</td></tr>
            <tr><td class='descr'>At Home?</td><td class='value'>{{ calibrun.homec|yesno:"Yes,No,Undefined" }}</td></tr>
            {% endif %}
        </tbody>
        </table>
    </div>
    <div class="clear"></div>

</div>
    