<div class="grid_24" style='margin-top:20px;'>
     <h2>
         DAQ Settings &nbsp;|&nbsp; 
         Run {{ run.runno }} &nbsp;|&nbsp; 
         {{ run.runtype }} &nbsp;&nbsp;
         <img id="daq_loading" class="loading" src="{{ MEDIA_URL }}img/loading.gif" alt="loading" />
    </h2>
</div>
<div class="clear"></div>

{# site/detector map #}
<div id="daq_site_det" class="grid_14" style='margin-top:10px;'>
    {% include "run/detmap.html" %}
</div>
<div class="grid_7 prefix_2 suffix_1 draggable notepad" style='margin-top:10px;'>
    <h3 id="daq_detector">Detector (Loading ...)</h3>
    <ul>
        <li><button id="btn_more_daq">Show More DAQ Settings ...</button></li>
    </ul>
</div>
<div class="clear"></div>

{# daq table #}
<div id="daq_section" style='margin-top: 20px;'>

    <div class="grid_11">
        <table>
        <thead><tr>
           <th colspan="2" style='text-align: center;'>Trigger Settings</th>
        </tr></thead>
        <tbody>
            <tr><td class='descr'>Trigger Type</td><td class='value'   id='LTB_triggerType'></td></tr>
            <tr><td class='descr'>NHit Threshold</td><td class='value' id='HSUM_trigger_threshold'></td></tr>
            <tr><td class='descr'>ESum Threshold</td><td class='value' id='DAC_total_value'></td></tr>
            <tr><td class='descr'>LTB Name</td><td class='value' id='LTBName'></td></tr>
            <tr><td class='descr'>LTB Firmware Ver.</td><td class='value'  id='LTBfirmwareVersion'></td></tr>
            <tr class='hidden'><td class='descr'>Trigger Bits</td><td class='value'   id='LTB_triggerBits'></td></tr>
            <tr class='hidden'><td class='descr'>Readout Type</td><td class='value'   id='readout_type'></td></tr>
            <tr class='hidden'><td class='descr'>Random Trigger Bits</td><td class='value'   id='random_num_set_reg'></td></tr>
            <tr class='hidden'><td class='descr'>Prescale Trigger</td><td class='value'   id='PreScale_Trigger_enable'></td></tr>
            <tr class='hidden'><td class='descr'>Periodic Trig. Setting</td><td class='value'   id='periodic_trig_setting'></td></tr>
            <tr class='hidden'><td class='descr'>Local Trig. Neg. Width</td><td class='value'   id='local_trigger_negative_width_reg'></td></tr>
            <tr class='hidden'><td class='descr'>Local Trig. Pos. Width</td><td class='value'   id='local_trigger_positive_width'></td></tr>
            <tr class='hidden'><td class='descr'>NHit Trig. Latency</td><td class='value'   id='Multiplicity_trigger_latency'></td></tr>
            <tr class='hidden'><td class='descr'>ESum Trig. Latency</td><td class='value'   id='ESUM_COMP_trigger_latency'></td></tr>
            <tr class='hidden'><td class='descr'>Cross Trig. Latency</td><td class='value'   id='cross_trigger_latency'></td></tr>
            <tr class='hidden'><td class='descr'>Cross Trig. Neg. Width</td><td class='value'   id='cross_trigger_negative_width_reg'></td></tr>
            <tr class='hidden'><td class='descr'>Cross Trig. Pos. Width</td><td class='value'   id='cross_trigger_positive_width'></td></tr>
        </tbody>
        </table>
    </div>

    <div class="grid_13">
        <table>
        <thead><tr>
           <th colspan="2" style='text-align: center;'>FEE Settings</th>
        </tr></thead>
        <tbody>
            <tr><td class='descr'>Uni. DAC Threshold</td><td class='value' id='DACUniformVal'></td></tr>
            <tr><td class='descr'>FEE Boards</td><td class='value'     id='FEEBoards'></td></tr>
            <tr><td class='descr'>FEE Prefix</td><td class='value' id='FEEPrefix'></td></tr>
            <tr><td class='descr'>FEE Board Ver.</td><td class='value' id='FEEBoardVersion'></td></tr>
            <tr><td class='descr'>FEE CPLD Ver.</td><td class='value'  id='FEECPLDVersion'></td></tr>
            <tr class='hidden'><td class='descr'>FEE Waveform</td><td class='value'   id='FEEWaveform_enable'></td></tr>
            <tr class='hidden'><td class='descr'>FEE Baseline</td><td class='value'   id='FEEBaseline_enable'></td></tr>
            <tr class='hidden'><th colspan="2" style='text-align: center;'>More Detector Settings</th>
            <tr class='hidden'><td class='descr'>Logical ID</td><td class='value'   id='LogicalId'></td></tr>
            <tr class='hidden'><td class='descr'>FADC Name</td><td class='value'   id='FADCName'></td></tr>
            <tr class='hidden'><td class='descr'>RPC ROM</td><td class='value'   id='RPCROM'></td></tr>
            <tr class='hidden'><td class='descr'>RPC RTM</td><td class='value'   id='RPCRTM'></td></tr>
            <tr class='hidden'><td class='descr'>FEEDiag Times/DAC</td><td class='value'   id='FEEDiagRunTimesPerDAC'></td></tr>
            <tr class='hidden'><td class='descr'>Pedestal Times</td><td class='value'   id='PedestalRunTimes'></td></tr>
        </tbody>
        </table>
    </div>
    <div class="clear"></div>
    
</div>
