{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/modal.css")?>
{% endblock %} 

{% block title %}ODM | Run {{ run.runno }}{% endblock %}

{% block content %}
    {% include "run/general.html" %}
    
    {% if calibrun %}
        {% include "run/calib.html" %}
    {% endif %}
    
    {% if not not_in_offline_db %}
        {% include "run/daq.html" %}
    {% endif %}
    
    {% include "run/diagnostics.html" %}
    
    {% include "run/pqm.html" %}
    
    {% include "run/pmt.html" %}
    
    {% include "run/comments.html" %}
    
{% endblock %}

{% block extra_content %}
    {% if odmrun %}
        {% load comments %}
        <div class = "grid_22 prefix_1 suffix_1">
            {% render_comment_form for odmrun %}
        </div>
        <div class="clear"></div>
    {% endif %}
{% endblock%}

{% block extra_js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.simplemodal.1.4.1.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/sprintf.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/run.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/tiny_mce/tiny_mce.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/init_tiny_mce.js"></script>
{% endblock %}
