<table class='det_table'>
    <tr>
        <td></td>
        <td><h6>AD1</h6></td>
        <td><h6>AD2</h6></td>
        <td><h6>AD3</h6></td>
        <td><h6>AD4</h6></td>
        <td><h6>IWS</h6></td>
        <td><h6>OWS</h6></td>
        <td><h6>RPC</h6></td>
    </tr>

    <tr class="DayaBay">
        <td><h6>DayaBay</h6></td>
        <td class="AD1"><a class="det">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
        <td class="AD2"><a class="det">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
        <td class="AD3"><a class="no_det">X</a></td>
        <td class="AD4"><a class="no_det">X</a></td>
        <td class="IWS"><a class="det">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
        <td class="OWS"><a class="det">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
        <td class="RPC"><a class="det">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    </tr>

    <tr class="LingAo">
        <td><h6>LingAo</h6></td>
        <td class="AD1"><a class="det">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
        <td class="AD2"><a class="det">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
        <td class="AD3"><a class="no_det">X</a></td>
        <td class="AD4"><a class="no_det">X</a></td>
        <td class="IWS"><a class="det">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
        <td class="OWS"><a class="det">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
        <td class="RPC"><a class="det">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    </tr>

    <tr class="Far">
        <td><h6>Far</h6></td>
        <td class="AD1"><a class="det">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
        <td class="AD2"><a class="det">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
        <td class="AD3"><a class="det">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
        <td class="AD4"><a class="det">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
        <td class="IWS"><a class="det">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
        <td class="OWS"><a class="det">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
        <td class="RPC"><a class="det">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
    </tr>

    <tr class="SAB">
        <td><h6>SAB</h6></td>
        <td class="AD1"><a class="det">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
        <td class="AD2"><a class="det">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
        <td class="AD3"><a class="no_det">X</a></td>
        <td class="AD4"><a class="no_det">X</a></td>
        <td class="IWS"><a class="no_det">X</a></td>
        <td class="OWS"><a class="no_det">X</a></td>
        <td class="RPC"><a class="no_det">X</a></td>
    </tr>

</table>