<div class="grid_24" style='margin-top:20px;'>
    <a name="diagnostics"></a>
    <h2>
         Diagnostic Plots &nbsp;|&nbsp; 
         Run {{ run.runno }} &nbsp;|&nbsp; 
         {{ run.runtype }} &nbsp;&nbsp;
         <img id="diagnostics_loading" class="loading" src="{{ MEDIA_URL }}img/loading.gif" alt="loading" />
    </h2>
</div>
<div class="clear"></div>

{# site/detector map #}
<div id="diagnostics_site_det" class="grid_14" style='margin-top:10px;'>
    {% include "run/detmap.html" %}
</div>
<div class="grid_7 prefix_2 suffix_1 draggable notepad" style='margin-top:10px;'>
    <h3 id="diagnostics_detector">Detector (Loading ...)</h3>
    <ul>
        <li><button id="diagnostics_rootfile_dir">Go to ROOT File Dir ...</button></li>
        <li><button id="show_pmtmap">Toggle FEE / PMT Map ...</button></li>
    </ul>
</div>
<div class="clear"></div>

{# FEE/PMT map #}
<div id='pmt_section' class='hidden' style='margin-top: 20px;'>
    <div id="pmt_info" class="grid_7 prefix_2 suffix_1 push_14">
        <table>
            <thead><tr>
                <th id="th_pmtinfo" colspan="4" style="text-align:center;">PMT Information</th>
            </tr></thead>
            <tr>
                <td class='descr'>Board</td><td id="td_board" class="value">--</td>
                <td class='descr'>Connector</td><td id="td_connector" class="value">--</td>
            </tr>
            <tr>
                <td class='descr'>Ring</h6></td><td id="td_ring" class="value">--</td>
                <td class='descr'>Column</h6></td><td id="td_column" class="value">--</td>
            </tr>
            <tr>
                <td colspan="3" class='descr'>SPE &nbsp;[High Gain ADC]</td>
                <td colspan="1" id="td_speHigh" class="value">--</td>
            </tr>
            <tr>
                <td colspan="3" class='descr'>SPE &nbsp;[Low Gain ADC]</td>
                <td colspan="1" id="td_speLow" class="value">--</td>
            </tr>
            <tr>
                <td colspan="3" class='descr'>Time Offset &nbsp;[TDC]</td>
                <td colspan="1" id="td_timeOffset" class="value">--</td>
            </tr>
        </table>
    </div>
    <div class="grid_14 pull_10">
        <table id="feemap_table" class="det_table">
        </table>
    </div>
    <div class="grid_18" style='margin-top: 10px;'>
        <table id="pmtmap_table" class="det_table">
        </table>
    </div>
    <div class="clear"></div>
</div>

{# diagnostic plots #}
<div class="grid_24" id="diagnostics_section" style='margin-top: 20px;'>

    <div style="border: 1px solid #999;">          
    <table id="table_diagnostics_plots" class='production'>
    </table>
    </div>

</div>
<div class="clear"></div>
