{% extends "base.html" %}

{% block title %}ODM | File Info | Run {{ runno }} {% endblock %}

{% block content %}


<div class = "grid_24">
     <h2>
         Run {{ runno }} | Raw Files: {{ file_list|length }}
    </h2>
</div>    
<div class="clear"></div> 

<div class = "grid_24">
    <table>
    <thead><tr>
       <th colspan="2" style='text-align: center;'>General File Description</th>
    </tr></thead>
    <tbody>
        <tr>
            <td class='descr'>Run No</td>
            <td class='value'><a href="{{ SITE_ROOT }}/run/{{ runno }}/">{{ runno }}</a></td>
        </tr>
        <tr>
            <td class='descr'>Raw Data File Name Format</td>
            <td class='value'>
                daq
                .&lt;<span class='token'>tag name</span>&gt;
                .&lt;<span class='token'>run number</span>&gt;
                .&lt;<span class='token'>stream type</span>&gt;
                .&lt;<span class='token'>stream name</span>&gt;
                .&lt;<span class='token'>application name</span>&gt;
                ._&lt;<span class='token'>file number</span>&gt;
                .data
            </td>
        </tr>
        <tr>
            <td class='descr'>Catalog Directory</td>
            <td class='value' id='catalog_base_dir'></td>
        </tr>
    </tbody>
    </table>
            
    <table style='margin-top:20px;'>
       <thead><tr>
          <th>Raw Data File Name</th>
          <th>File Size</th>
          <th>Checksum</th>
          <th>File State</th>
          <th>Transfer State</th>
          <th>Catalog?</th>          
       </tr></thead>
       <tbody>
           {% for file in file_list %}
           <tr>
               <td class='filename'>{{ file.filename }}</td>
               <td>{{ file.filesize|filesizeformat }}</td>
               <td>{{ file.checksum }}</td>
               <td>{{ file.filestate }}</td>
               <td>{{ file.transferstate }}</td>
               <td class='catalog'></td>
           </tr>    
           {% endfor %}
       </tbody>
    </table>
</div>
<div class="clear"></div>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/file.js"></script>
{% endblock %}
