{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/modal.css")?>
{% endblock %}

{% block title %}ODM | File Info | Run {{ runno }} {% endblock %}

{% block content %}

<div class = "grid_24">
     <h2>
         Run {{ runno }} <span class='sep'>|</span>
         Raw Files: {{ file_list|length }}
    </h2>
</div>    
<div class="clear"></div> 

<div class = "grid_24">
    <table>
    <thead><tr>
       <th colspan="2" style='text-align: center;'>General File Description</th>
    </tr></thead>
    <tbody>
        <tr>
            <td class='descr'>Run No</td>
            <td class='value'><a href="{{ SITE_ROOT }}/run/{{ runno }}/">{{ runno }}</a></td>
        </tr>
        <tr>
            <td class='descr'>DAQ File Name</td>
            <td class='value'>
                daq.&lt;<span class='token'>tag name</span>&gt;.&lt;<span class='token'>run no.</span>&gt;.&lt;<span class='token'>stream type</span>&gt;.&lt;<span class='token'>stream name</span>&gt;.&lt;<span class='token'>application name</span>&gt;._&lt;<span class='token'>file no.</span>&gt;.data
            </td>
        </tr>
        <tr><td class='descr'>Raw Files</td><td class='value' id='RAW'>checking ...</td></tr>
        <tr><td class='descr'>D2R Files</td><td class='value' id='D2R'>checking ...</td></tr>
        <tr><td class='descr'>KUP Files</td><td class='value' id='KUP'>checking ...</td></tr>
        <tr><td class='descr'>P11A Files</td><td class='value' id='P11A'>checking ...</td></tr>
        <tr><td class='descr'>ODM Files</td><td class='value' id='ODM'>checking ...</td></tr>
    </tbody>
    </table>
            
    <table style='margin-top:20px;'>
       <thead><tr>
          <th>Raw Data File Name</th>
          <th>File Size</th>
          <th>Time Transfer [Beijing]</th>
          <th>RAW</th>          
          <th>D2R</th>    
          <th>KUP</th>    
          <th>P11A</th>    
          <th>ODM</th>    
          <th>More</th>          
       </tr></thead>
       <tbody>
           {% for file in file_list %}
           <tr>
               <td class='filename'>{{ file.filename }}</td>
               <td>{{ file.filesize|filesizeformat }}</td>
               <!-- <td>{{ file.checksum }}</td> -->
               <td>{{ file.vld.timeend_beijing }}</td>
               <td class='RAW'></td>
               <td class='D2R'></td>
               <td class='KUP'></td>
               <td class='P11A'></td>
               <td class='ODM'></td>
               <td><a class='more' href='#'>More</a></td>
           </tr>    
           {% endfor %}
       </tbody>
    </table>
</div>
<div class="clear"></div>

{% endblock %}

{% block extra_js %}
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.simplemodal.1.4.1.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/file.js"></script>
{% endblock %}
