{% extends "base.html" %}

{# {% load pagination %} #}

{% block content %}
    <div class = "grid_24">
         <h2>
             List of {{ runtype }} Runs ({{ run_list|length }})
             {# {% pagination %} #}
        </h2>
              
        <table>
           <thead><tr>
              <th>Run No</th>
              <th class='RunType'>Run Type</th>
              <th class='StartTime'>Start Time [UTC]</th>
              <th class='StartTimeBeijing hidden'>Start Time<br /> [Beijing]</th>
              <th class='RunLength'>Run Length</th>
              <th class='PQMPlots'>PQM Plots</th>
              <th class='DiagnosticPlots'>Diagnostic Plots</th>
              <th class='Comments'>Comments</th>
              <th class='Elog'>Elog Search</th>
           </tr></thead>
           <tbody>
               {% for run in run_list %}
                   <tr>
                       <td>{{ run.runno }}</td>
                       <td class='RunType'>{{ run.runtype }}</td>
                       <td class='StartTime hidden'>{{ run.vld.timestart }}</td>
                       <td class='StartTimeBeijing'>{{ run.vld.timestart }}</td>
                       <td class='RunLength'>{{ run.vld.runlength }}</td>
                       <td class='PQMPlots'>N/A</td>
                       <td class='DiagnosticPlots'>N/A</td>
                       <td class='Comments'>..</td>
                       <td class='Elog'>
                           <a href="http://web.dyb.ihep.ac.cn:8099/Commissioning/?mode=full&reverse=0&reverse=1&npp=20&subtext={{run.runno}}">Elog</a>
                       </td>
                   </tr>    
               {% endfor %}
           </tbody>
        </table>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/run.js"></script>
{% endblock %}
