{% load range %}

<div class="grid_24" style='margin-top:20px;'>
    <a name="pmtinfo"></a>
    <h2>
         PMT Information <span class='sep'>|</span>
         {{ run.runtype }} Run {{ run.runno }}
    </h2>
</div>
<div class="clear"></div>

{# site/detector map #}
<div id="pmtinfo_site_det" class="grid_14" style='margin-top:10px;'>
    {% include "run/detmap.html" %}
</div>
<div class="grid_7 prefix_2 suffix_1 draggable notepad" style='margin-top:10px;'>
    <h3 id="pmtinfo_detector">Detector (Loading ...)</h3>
    <ul>
        {# <li><button id="reload_pmtfigures">Load PMT Plots ...</button></li> #}
        <li><button class="to_top">Back to Top ...</button></li>
    </ul>
</div>
<div class="clear"></div>

{# FEE/PMT map #}
<div id='pmt_section' style='margin-top: 10px;'>
    
    <div id="pmt_validation_table" class="grid_9 prefix_1 push_14" style='margin-top: 10px;'>
        <table>
            <thead><tr>
            <th id="th_pmtinfo" colspan="2" style="text-align:center;">Cable Map Validation</th>
            </tr></thead>
            <tr><td class='descr'>DBI Record Seqno</td><td id="cablemap_vld_seqno" class="value"></td></tr>
            <tr><td class='descr'>Insert Date</td><td id="cablemap_vld_insert" class="value"></td></tr>
            <tr><td class='descr'>Valid From</td><td id="cablemap_vld_from" class="value"></td></tr>
            <tr><td class='descr'>Valid To</td><td id="cablemap_vld_to" class="value"></td></tr>
            <tr><th colspan="2" style="text-align:center;">Calibration Specs Validation</th></th></tr>
            <tr><td class='descr'>DBI Record Seqno</td><td id="pmtspec_vld_seqno" class="value"></td></tr>
            <tr><td class='descr'>Insert Date</td><td id="pmtspec_vld_insert" class="value"></td></tr>
            <tr><td class='descr'>Valid From</td><td id="pmtspec_vld_from" class="value"></td></tr>
            <tr><td class='descr'>Valid To</td><td id="pmtspec_vld_to" class="value"></td></tr>
            <tr>
                <td class='descr'>Rollback To</td>
                <td class="value">
                    <input id="id_pmtspec_rollback" type="text" name="pmtspec_rollback" size="8" />
                    &nbsp;&nbsp;
                    <input id='sumit_pmtspec_rollback' type="submit" value="Rollback !" />
                </td>
            </tr>
        </table>
    </div>
    
    {% mkrange 1 17 1 as connector_range %}
    {% mkrange 5 19 1 as board_range %}
    {% mkrange 8 -1 -1 as ring_range %}
    {% mkrange 1 25 1 as column_range %}
    {% mkrange 1 10 1 as wall_range %}
    {% mkrange 1 30 1 as spot_range %}
    
    {# <div class="grid_14 pull_10" style='margin-top: 10px;'> #}
    {#     <table id="feemap_table" class="det_table"> #}
    {#         <tr><td>connector</td> #}
    {#         {% for connector in connector_range %} #}
    {#         <td>{{ connector|stringformat:"02d" }}</td> #}
    {#         {% endfor %} #}
    {#         </tr> #}
    {#  #}
    {#         {% for board in board_range %} #}
    {#         <tr board='{{ board|stringformat:"02d" }}'> #}
    {#             <td>board {{ board|stringformat:"02d" }}</td> #}
    {#             {% for connector in connector_range %} #}
    {#             <td connector='{{ connector|stringformat:"02d" }}'></td> #}
    {#             {% endfor %} #}
    {#         </tr> #}
    {#         {% endfor %} #}
    {#     </table> #}
    {# </div> #}
    {# <div class="clear"></div> #}

    <div class="grid_14 pull_10" style='margin-top: 10px;'>
        <table id="feemap_table" class="det_table">
            <tr><td>board</td>
            {% for board in board_range %}
            <td>{{ board|stringformat:"02d" }}</td>
            {% endfor %}
            </tr>

            {% for connector in connector_range %}
            <tr connector='{{ connector|stringformat:"02d" }}'>
                <td>conn {{ connector|stringformat:"02d" }}</td>
                {% for board in board_range %}
                <td board='{{ board|stringformat:"02d" }}'></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="clear"></div>
    
    <div id="pmtinfo_table" class="grid_24" style='margin-top: 10px;'>
        <div style="border: 1px solid #999;">
        <table>
            <tr>
                <td class='descr'>Board</td><td id="pmt_board" class="value"></td>
                <td class='descr'>Ring</td><td id="pmt_ring" class="value"></td>
                <td class='descr'>Wall</td><td id="pmt_wall" class="value"></td>
                <td class='descr'>H.G. SPE [ADC]</td><td id="pmt_spehigh" class="value">
                <td class='descr'>T Offset [TDC]</td><td id="pmt_toffset" class="value"></td>
            </tr>
            <tr>
                <td class='descr'>Connector</td><td id="pmt_connector" class="value"></td>
                <td class='descr'>Column</td><td id="pmt_column" class="value"></td>
                <td class='descr'>Spot</td><td id="pmt_spot" class="value"></td>
                <td class='descr'>L.G. SPE [ADC]</td><td id="pmt_spelow" class="value"></td>
                <td class='descr'></td><td class="value"></td>
            </tr>
        </table>
        </div>
    </div>
    <div class="clear"></div>
    
    <div class="grid_18" style='margin-top: 10px;'>
        <table id="adpmtmap_table" class="det_table hidden">
            <tr><td>column</td>
            {% for column in column_range %}
            <td>{{ column|stringformat:"02d" }}</td>
            {% endfor %}
            </tr>

            {% for ring in ring_range %}
            <tr ring='{{ ring|stringformat:"02d" }}'>
                <td>ring {{ ring|stringformat:"02d" }}</td>
                {% for column in column_range %}
                <td column='{{ column|stringformat:"02d" }}'></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="clear"></div>

    <div class="grid_23" style='margin-top: 10px;'>
        <table id="muonpmtmap_table" class="det_table  hidden">
            <tr><td>spot</td>
            {% for spot in spot_range %}
            <td>{{ spot|stringformat:"02d" }}</td>
            {% endfor %}
            </tr>

            {% for wall in wall_range %}
            <tr wall='{{ wall|stringformat:"02d" }}'>
                <td>wall {{ wall|stringformat:"02d" }}</td>
                {% for spot in spot_range %}
                <td column='{{ spot|stringformat:"02d" }}'></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="clear"></div>
    
</div>
