<div class="grid_24" style='margin-top:20px;'>
    <a name="pqm"></a>
     <h2>
         PQM Plots &nbsp;|&nbsp; 
         Run {{ run.runno }} &nbsp;|&nbsp; 
         {{ run.runtype }} &nbsp;&nbsp;
         <img id="pqm_loading" class="loading" src="{{ MEDIA_URL }}img/loading.gif" alt="loading" />
    </h2>
</div>
<div class="clear"></div>

{# site/detector map #}
<div id="pqm_site_det" class="grid_14" style='margin-top:10px;'>
    {% include "run/detmap.html" %}
</div>
<div class="grid_7 prefix_2 suffix_1 draggable notepad" style='margin-top:10px;'>
    <h3 id="pqm_detector">Detector (Loading ...)</h3>
</div>
<div class="clear"></div>

{# pqm plots #}
<div class="grid_24" id="pqm_section" style='margin-top: 20px;'>

    <div style="border: 1px solid #999;">          
    <table id="table_pqm_plots" class='production'>
    </table>
    </div>

</div>
<div class="clear"></div>