{% extends "base.html" %}

{% block title %}ODM | Run Stats{% endblock %}

{% block content %}
<div class = "grid_24">
     <h2>
         Graphical Statistics
    </h2>
</div>    
<div class="clear"></div>

{# <div class = "grid_24" id="chart_runstats", style="height: 400px; margin-top:10px; z-index:-100;"> #}
{#     <h3 align='center'>Loading ...</h3> #}
{# </div>     #}
{# <div class="clear"></div> #}

<div id="chart_daqstats" class="grid_18" style='height: 400px; margin-top:10px;'>
    <h3 align='center'>Select Statistics from Right</h3>
</div>
<div class="grid_5 prefix_1 draggable notepad" style='margin-top:10px;'>
    <h3>DAQ Statistics</h3>
    <ul id='buttons_daqstats'>
        <li><button mode="run/stats/runcount/">Total Runs</button></li>
        <li><button mode="run/stats/daqtime/">Run Time</button></li>
        <li><button mode="run/stats/runtype/">Run Type</button></li>
        <li><button mode="run/stats/partition/">Sites/Detectors</button></li>
        <li><button mode="run/file/stats/volume/">Data Volume</button></li>
        <li><button mode="run/file/stats/livetime/EH1/ run/file/stats/livetime/EH2/">Physics Live Time</button></li>
    </ul>
</div>
<div class="clear"></div>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/highcharts/modules/exporting.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/highcharts/themes/gray.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/runstats.js"></script>
{% endblock %}