<form action="{{SITE_ROOT}}/dbi/records/" method="get" id='form_dbisearch' class='ui-widget'>    
    <fieldset class='ui-widget-content'>        
    <table>
        <tr>
            <td><h6>Table</h6>&nbsp;&nbsp;{{form.table}}</td>
            <td>{{form.site}}</td>
            <td>{{form.detector}}</td>
            <td>{{form.sim}}</td>
            <td>{{form.task}}</td>
            <td><h6>Formatting Character</h6>&nbsp;&nbsp;{{form.character}}</td>
            <td><h6>Width</h6>&nbsp;&nbsp;{{form.width}}</td>
            <td><input id='submit' type="submit" value="Show Records !" /></td>
        </tr>
    </table>
    </fieldset>
</form>
