{% extends "base.html" %}

{% block title %}ODM | Run Notes{% endblock %}

{% load lazyutil %}
{% load pagination %}

{% block content %}
<div class = "grid_24">
     <h2>
         Notes ({{ count }}) <span class='sep'>|</span>
         {% if description %}
            {{ description }}
         {% else %}
            {{ comment_list.1.submit_date|date:'F, Y' }}
         {% endif %}
         {% paginator %}
    </h2>
</div>    
<div class="clear"></div>

<div class = "grid_20" style='margin-top:10px;'>
    <table>
       <thead><tr>
          <th>Run</th>
          <th>Type</th>
          <th>Notes</th>
          <th>Posted by</th>
          <th>Posted at [Beijing]</th>
       </tr></thead>
       <tbody>
       {% for comment in comment_list %}
           <tr>
               <td><a href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object.runno }}</td>
               <td>{{ comment.content_object.runtype }}</td>
               <td>{{ comment.comment|extract_notes|truncatewords:15 }}</td>
               <td style='width:100px;'>{{ comment.user.get_full_name }}</td>
               <td style='width:160px;'>{{ comment.submit_date|add_hours:8}}</td>
           </tr>    
       {% endfor %}
       </tbody>
    </table>
</div>
<div class="grid_3 prefix_1 sidebar" style='margin-top:10px;'>
    <table>
       <thead><tr><th style='text-align:center;'>Archive</th></tr></thead>
       <tbody>        
        {% for date in month_list %}
        <tr><td class='descr' style='text-align:center;'>
            <a href="{{ SITE_ROOT }}/run/notes/{{ date|date:'Y' }}/{{ date|date:'n' }}/">{{ date|date:'M Y' }}</a>
        </td></tr>
        {% endfor %}
       </tbody>
    </table>
</div>
<div class="clear"></div>

{% endblock %}

{% block extra_js %}
{% endblock %}

