{# <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" #}
{#     "http://www.w3.org/TR/html4/strict.dtd"> #}
{# <html lang="en"> #}
{# <head> #}
{#     <title>Page unavailable</title> #}
{# </head> #}
{# <body> #}
{#     <h1>Oops, You are in the wrong place.</h1> #}
{# </body> #}
{# </html> #}

{% extends "base.html" %}

{% block content %}
    <div class="grid_24"  style="text-align:center;">
        <h3 style='color:#ff030b; font-size:32px; margin-top:40px;'>Error 404</h3>
        <h3 style='color:#999; font-size:24px;'>You discovered a disappeared page!</h3>
        <img src="{{ MEDIA_URL }}img/nu_disappear.png" width="800"></img>
    </div>
{% endblock %}
    
