<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.ico")?>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/reset.css")?>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/960_24_col.css")?>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/main.css")?>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/menu.css")?>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/paginator.css")?>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}ui/cupertino/jquery-ui.css")?>
    {% block extra_head %}{% endblock %} 
    <title>{% block title %}Daya Bay Offline Data Monitor{% endblock %}</title>
</head>

<body>

    {% include "bookmarks.html" %}
    {% include "head.html" %}
    
    <div id="content" class='container_24'>
        {% block content %}{% endblock %}
    </div>
    
    <div id="footer" class='container_24'>
        {% block footer %}{% endblock %}
    </div>

    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.4.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/common.js"></script>
    {% block extra_js %}{% endblock %}
</body>

</html>