<div id="nav" class="hidden">
<div id="nav_inner">
    <table cellpadding="0" cellspaceing="0" border="0" style="width:98%">
        <tr>
            <td class="td" valign="top">                
                <h3>General</h3>
                <ul>
                    <li><a href="http://dayawane.ihep.ac.cn/cgi-bin/DocDB/DocumentDatabase">DocDB</a></li>
                    <li><a href="http://dayabay.ihep.ac.cn/cgi-bin/DocDB/ShowCalendar">Calendar</a></li>
                    <li><a href="http://web.dyb.ihep.ac.cn:8099/">Elog</a></li>
                    <li><a href="http://dayabay.ihep.ac.cn/twiki/bin/view/Internal/WebHome">Twiki @IHEP</a></li>
                    <li><a href="https://wiki.bnl.gov/dayabay/index.php?title=Main_Page">Wiki @BNL</a></li> 
                </ul>
                
                <h3>Onsite</h3>
                <ul>
                    <li><a href="http://dayawane.ihep.ac.cn/twiki/bin/view/Internal/PracticalInformationAtDayaBay">Practical Information</a></li>
                    <li><a href="http://dayawane.ihep.ac.cn/twiki/bin/view/Internal/SafetyTraining">Safety</a></li>
                    <li><a href="http://web.dyb.ihep.ac.cn/dayabayshift/Calendar/index.html">Shift Calendar</a></li>
                    <li><a href="http://dayawane.ihep.ac.cn/twiki/bin/view/Internal/ShiftContactList#All_Contacts">Contact List</a></li>
                </ul>
                
                <h3>Meetings</h3>
                <ul>
                  <li><a href="http://research.seevogh.com/join?meeting=eleBevv8veaua2I8anIl">Simulation/Analysis</a></li>
                  <li><a href="http://research.seevogh.com/join?meeting=MsMiMI282nDnDl9i9aDt9s">Open Discussion</a></li>
                </ul>
                
            </td>
            
            <td class="td_sep" valign="top">
                <h3>Shift</h3>
                <ul>
                    <li><a href="http://dayawane.ihep.ac.cn/twiki/bin/view/Internal/Shift%7C">Shift Information</a></li>
                    <li><a href="http://dayabay.ihep.ac.cn/twiki/bin/view/Internal/ShiftCheck">Shift Check List</a></li>
                    <li><a href="http://dayabay.ihep.ac.cn/twiki/bin/view/Internal/ShiftStandardHistograms">Standard Histogram</a></li>
                    <li><a href="http://dayawane.ihep.ac.cn/twiki/bin/view/Internal/ShiftFAQ">Shift FAQ</a></li>
                    <li><a href="http://dayawane.ihep.ac.cn/twiki/bin/view/Internal/ShiftContactList#All_Contacts">Shift Contact</a></li>
                    <li><a href="http://202.120.47.105/DQTests/DQCommentForm.html">Problem Reporting</a></li>
                </ul>
                
                <h3>Monitors</h3>
                <ul>
                    <li> 
                    <a href="https://portal-auth.nersc.gov/dayabay/odm/">ODM PDSF&nbsp;|</a>
                    <a href="http://dybdq.ihep.ac.cn/odm/">IHEP</a>
                    </li>
                    <li><a href="http://web.dyb.ihep.ac.cn/dqm/">PQM</a></li>
                    <li><a href="http://dcs2.dyb.ihep.ac.cn/index.php">DCS</a></li>
                    <li><a href="http://dayabay.lbl.gov/dybspade/daqdm/summary/">Spade</a></li>
                    <li><a href="http://neutrino2.physics.sjtu.edu.cn/DQTests/DQStripCharts.html">Data Quality</a></li>
                </ul>            
            </td>
            
            <td class="td_sep" valign="top">
                <h3>Software</h3>
                <ul>
                    <li><a href="http://dayabay.ihep.ac.cn/tracs/dybsvn">Trac</a></li>
                    <li><a href="http://dayabay.bnl.gov/dox/">NuWa Class Index (Doxygen)</a></li>
                    <li><a href="http://dayabay.ihep.ac.cn/svn/dybsvn/">SVN (code)</a></li>
                    <li><a href="http://dayabay.ihep.ac.cn/svn/dybaux/">Dybaux</a></li>
                    <li><a href="http://dybdb1.ihep.ac.cn/phpMyAdmin">Central Database</a></li>
                </ul>
            </td>
                        
            <td class="td_sep" valign="top">                
                <h3>Analysis</h3>
                <ul>
                    <li><a href="http://dayabay.bnl.gov/oum/">Offline User Manual</a> 
                    </li>
                    <li>
                        <a href="https://wiki.bnl.gov/dayabay/index.php?title=Offline:FAQ">FAQ &nbsp;|</a>                      
                        <a href="https://wiki.bnl.gov/dayabay/index.php?title=Offline:Howto">&nbsp;How to</a> 
                    </li>
                    <li>
                        <a href="https://wiki.bnl.gov/dayabay/index.php?title=Offline_Documentation">Documentation&nbsp;|</a>
                        <a href="https://wiki.bnl.gov/dayabay/index.php?title=Offline:Reference">&nbsp;Reference</a>                        
                    </li>
                </ul>
            </td>
            
        </tr>
    </table>
</div>
</div>

<div id="nav2">
    <a name="pagetop"></a>
    <a href="#" id="show_nav">
        <img src="{{ MEDIA_URL }}img/nav_toggle_darker.jpg" width="154" height="43" border="0" alt="Toggle Quick Links" />
    </a>
</div>
