<div class="container_24">
    <div class="grid_12 suffix_9">
        <a href="{{ SITE_ROOT }}/">
            <img src="{{ MEDIA_URL }}img/logo.png" alt="ODM" />
        </a>
    </div>
    <div class="grid_3 omega">
        {#id="top-bar"   #}
        {#id="right-side"  #}
        {# <a href='/runtype/All/' class='first'>Home&ensp;</a> #}
        {# <a href='/currentrun/'>Current Run&ensp;</a> #}
        {# <a href='/logout/'>Logout&ensp;</a> #}

        <form action='{{ SITE_ROOT }}/quick-search/' id='quick_search' method="post"> {% csrf_token %} 
        <input type="text" tabindex="1" name="search_term" id="quick_search_field"/>
        <input type="image" alt="Find" value="Find" src="{{ MEDIA_URL }}img/search.png" id="search-button"/>  
        </form>
    </div>
    <div class="clear"></div>
    
    <div id="zone-bar" class="grid_24">
        <ul>            
            <li>
                <a href="#" class="top_menu"><span>
                    Runs&ensp;
                    <img src="{{ MEDIA_URL }}img/zonebar-downarrow.png" alt="dropdown" />
                </span></a>
                <ul class="sub_menu">
                    {# <li><a href='{{ SITE_ROOT }}/run/current/'>Current</a></li> #}
                    <li><a href='{{ SITE_ROOT }}/run/type/All/'>All</a></li>
                    <li><a href='{{ SITE_ROOT }}/run/latest/days/7/'>Last Week</a></li>
                    <li><a href='{{ SITE_ROOT }}/run/latest/days/30/'>Last Month</a></li>
                    <li class="menu_separator"></li>
                    <li><a href='{{ SITE_ROOT }}/run/type/Physics/'>Physics</a></li>
                    <li><a href='{{ SITE_ROOT }}/run/type/ADCalib/'>ADCalib</a></li>
                    <li><a href='{{ SITE_ROOT }}/run/type/Pedestal/'>Pedestal</a></li>
                    <li><a href='{{ SITE_ROOT }}/run/type/FEEDiag/'>FEEDiag</a></li>
                    <li><a href='{{ SITE_ROOT }}/run/type/WPCalib/'>WPCalib</a></li>
                </ul>
            </li>
        </ul>
        <ul>            
            <li>
                <a href="#" class="top_menu"><span>
                    Plots&ensp;
                    <img src="{{ MEDIA_URL }}img/zonebar-downarrow.png" alt="dropdown" />
                </span></a>
                <ul class="sub_menu">
                    {# <li><a href='{{ SITE_ROOT }}/run/current/'>Current</a></li> #}
                    <li><a href='{{ SITE_ROOT }}/production/diagnostics/view/'>Diagnostics</a></li>
                    <li><a href='{{ SITE_ROOT }}/production/pqm/view/'>PQM</a></li>
                    <li><a href='{{ SITE_ROOT }}/production/simulation/view/'>Simulation</a></li>
                </ul>
            </li>
        </ul>
        <ul>            
            <li>
                <a href="#" class="top_menu"><span>
                    Accounts&ensp;
                    <img src="{{ MEDIA_URL }}img/zonebar-downarrow.png" alt="dropdown" />
                </span></a>
                <ul class="sub_menu">
                    <li><a href='{{ SITE_ROOT }}/accounts/profile/'>Profile</a></li>
                    <li class="menu_separator"></li>
                    <li><a href='{{ SITE_ROOT }}/accounts/logout/'>Logout</a></li>
                    
                </ul>
            </li>
        </ul>
    </div>
    
</div>