<div class="container_24">
    <div class="grid_12 suffix_9">
        <a href="{{ SITE_ROOT }}/">
            <img src="{{ MEDIA_URL }}img/logo.png" alt="ODM" />
            <!-- <img src="{{ MEDIA_URL }}img/doodle/logo_christmas.png" alt="ODM", title="Happy Holidays!" /> -->
            <!-- <img src="{{ MEDIA_URL }}img/doodle/logo_holiday.png" alt="ODM" /> -->
        </a>
    </div>
    <div class="grid_3 omega">
        <form action='{{ SITE_ROOT }}/quick-search/' id='quick_search' method="post"> {% csrf_token %} 
        <input type="text" tabindex="1" name="search_term" id="quick_search_field"/>
        <input type="image" alt="Find" value="Find" src="{{ MEDIA_URL }}img/search.png" id="search-button"/>  
        </form>
    </div>
    <div class="clear"></div>
    
    <div id="zone-bar" class="grid_24 ui-state-default">
        <ul>            
            <li>
                <span class="ui-icon ui-icon-folder-open" style='float:left;'></span>
                <a href="#" class="top_menu"><span>
                    Runs
                    <img src="{{ MEDIA_URL }}img/zonebar-downarrow.png" alt="dropdown" />&nbsp;
                </span></a>
                <ul class="sub_menu">
                    {# <li><a href='{{ SITE_ROOT }}/run/current/'>Current</a></li> #}
                    <li><a href='{{ SITE_ROOT }}/run/list/'>All Completed</a></li>
                    <li><a href='{{ SITE_ROOT }}/run/list/ongoing/'>Ongoing</a></li>
                    <li><a href='{{ SITE_ROOT }}/run/latest/days/7/'>Last Week</a></li>
                    <li><a href='{{ SITE_ROOT }}/run/latest/days/30/'>Last Month</a></li>
                    <li><a href='{{ SITE_ROOT }}/run/archive/'>Monthly Archive</a></li>
                    <li class="menu_separator"></li>
                    <li><a href='{{ SITE_ROOT }}/run/type/Physics/'>Physics</a></li>
                    <li><a href='{{ SITE_ROOT }}/run/type/ADCalib/'>ADCalib</a></li>
                    <li><a href='{{ SITE_ROOT }}/run/type/WPCalib/'>WPCalib</a></li>
                    <li><a href='{{ SITE_ROOT }}/run/type/Pedestal/'>Pedestal</a></li>
                    <li><a href='{{ SITE_ROOT }}/run/type/FEEDiag/'>FEEDiag</a></li>
                    <li><a href="{{ SITE_ROOT }}/run/type/MOMonitor/">MOMonitor</a></li> 
                    <li class="menu_separator"></li>
                    <li><a href='{{ SITE_ROOT }}/run/list/'>Search</a></li>
                    <li><a href='{{ SITE_ROOT }}/run/stats/'>Statistics</a></li>
                    <li><a href='{{ SITE_ROOT }}/feeds/run/latest/'>RSS: Latest Runs</a></li>		            
                </ul>
            </li>
        </ul>
        <ul>            
            <li>
                <span class="ui-icon ui-icon-pin-s" style='float:left;'></span>
                <a href="#" class="top_menu"><span>
                    Calibrations
                    <img src="{{ MEDIA_URL }}img/zonebar-downarrow.png" alt="dropdown" />&nbsp;
                </span></a>
                <ul class="sub_menu">
                    <li><a href='{{ SITE_ROOT }}/run/calibration/AmC_Co60/'><sup>241</sup>Am<sup>13</sup>C + <sup>60</sup>Co</a></li>
                    <li><a href='{{ SITE_ROOT }}/run/calibration/Ge68/'><sup>68</sup>Ge</a></li>
                    <li><a href='{{ SITE_ROOT }}/run/calibration/ACU_LED/'>ACU LED</a></li>
                    <li><a href='{{ SITE_ROOT }}/run/calibration/MO_LED/'>MO LED</a></li>
                    <li><a href='{{ SITE_ROOT }}/run/calibration/Double_Pulse/'>Double Pulse</a></li>

                </ul>
            </li>
        </ul>
        <ul>            
            <li>
                <span class="ui-icon ui-icon-image" style='float:left;'></span>
                <a href="#" class="top_menu"><span>
                    Plots
                    <img src="{{ MEDIA_URL }}img/zonebar-downarrow.png" alt="dropdown" />&nbsp;
                </span></a>
                <ul class="sub_menu">
                    <li><a href='{{ SITE_ROOT }}/production/diagnostics/view/'>Diagnostics</a></li>
                    <li><a href='{{ SITE_ROOT }}/production/pqm/view/'>PQM</a></li>
                    <li><a href='{{ SITE_ROOT }}/production/simulation/view/'>Simulation</a></li>
                </ul>
            </li>
        </ul>
        <ul>            
            <li>
                <span class="ui-icon ui-icon-script" style='float:left;'></span>
                <a href="#" class="top_menu"><span>
                    DCS
                    <img src="{{ MEDIA_URL }}img/zonebar-downarrow.png" alt="dropdown" />&nbsp;
                </span></a>
                <ul class="sub_menu">
                    <li><a href='{{ SITE_ROOT }}/dcs/'>Search Charts</a></li>
	                  <li class="menu_separator"></li>
                    <li><a href='{{ SITE_ROOT }}/dcs/monitor/EH1/instrument/'>EH1 &nbsp;|&nbsp; Instrument</a></li>
                    <li><a href='{{ SITE_ROOT }}/dcs/monitor/EH1/electronics/'>EH1 &nbsp;|&nbsp; Electronics</a></li>
                    <li class="menu_separator"></li>
  	                <li><a href='{{ SITE_ROOT }}/dcs/monitor/EH2/instrument/'>EH2 &nbsp;|&nbsp; Instrument</a></li>
                    <li class="menu_separator"></li>
  	                <li><a href='{{ SITE_ROOT }}/dcs/monitor/EH3/instrument/'>EH3 &nbsp;|&nbsp; Instrument</a></li>
                    
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <span class="ui-icon ui-icon-wrench" style='float:left;'></span>
                <a href="#" class="top_menu"><span>
                    Tools
                    <img src="{{ MEDIA_URL }}img/zonebar-downarrow.png" alt="dropdown" />&nbsp;
                </span></a>
                <ul class="sub_menu">
                    <li><a href='{{ SITE_ROOT }}/dbi/trend/'>DBI Time Series</a></li>
                    <li><a href='{{ SITE_ROOT }}/dbi/records/'>DBI Records</a></li>
	                <li class="menu_separator"></li>
	                <li><a href='{{ SITE_ROOT }}/run/list/missing/'>Missing Runs</a></li>
	                <li class="menu_separator"></li>
                    <li><a href='{{ SITE_ROOT }}/pdsf/users/'>PDSF Jobs</a></li>
                </ul>
            </li>
        </ul>

        <ul style='float:right; margin-right:10px;'>            
            <li>
                <span class="ui-icon ui-icon-person" style='float:left;'></span>
                <a href="#" class="top_menu"><span>
                    System
                    <img src="{{ MEDIA_URL }}img/zonebar-downarrow.png" alt="dropdown" />&nbsp;
                </span></a>
                <ul class="sub_menu">
				    <li><a href='https://portal-auth.nersc.gov/dayabay/odm/'>Site :: NERSC</a></li>
				    <li><a href='http://dybdq.ihep.ac.cn//odm/'>Site :: IHEP</a></li>
	                <li class="menu_separator"></li>
                    <li><a href='{{ SITE_ROOT }}/accounts/profile/'>My Profile</a></li>
                    <li><a href='{{ SITE_ROOT }}/accounts/logout/'>Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
    
</div>