{% extends "base.html" %}

{% block title %}ODM | Script Generator | ODM Jobs{% endblock %}

{% block content %}
    
    <div class = "grid_24">
         <h2>
             Script Generator &nbsp;|&nbsp; ODM Jobs &nbsp;|&nbsp; {{ production|title }}
        </h2>
    </div>    
    <div class="clear"></div>
    
    {# view form  #}
    <div class = "grid_8">
    <form action="" method="post" id='form_view' class='ui-widget'>{% csrf_token %}
        <fieldset class='ui-widget-content'>
          <legend class='ui-widget-header ui-corner-all' align='center' style='padding: 5px 10px 5px 10px;'>
              {{ title }} View Status
          </legend>
        <table style='margin-top: 10px;'>
            {% for field in view_form %}
            <tr>
                <th>{{ field.label }}</th>
                <td>
                    <ul id="{{ field.html_name }}_error" class='errorlist'></ul>
                    {{ field }}
                </td>
            </tr>
            {% endfor %}            
            <tr>
                <th colspan='2' style='text-align:center; padding:15px 0 10px 0;'>
                    <input id='submit_form_view' type="submit" value="Generate" />
                </th>
            </tr>
        </table>
        </fieldset>
    </form>
    </div>    
    <div class="clear"></div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/ajax_csrf.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/production/jobs.js"></script>
{% endblock %}

