{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/modal.css")?>
{% endblock %} 

{% block title %}ODM | {{ title }}{% endblock %}

{% block content %}
    {% include "production/list.html" %}
        
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.simplemodal.1.4.1.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/sprintf.js"></script>
{% endblock %}

