{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/modal.css")?>
{% endblock %} 

{% block title %}ODM | {{ title }}{% endblock %}

{% block content %}
    
    <div class = "grid_24">
         <h2>
             All {{ title }}
        </h2>
    </div>    
    <div class="clear"></div>
    
    
    <div id='pb_bar' class = "grid_24">    
        <span class="pb_label"></span>
    </div>
    <div class="clear"></div>
    
    
    <div id="showcase" class = "grid_24" style="margin: 10px 0 10px 0">
    </div>
    <div class="clear"></div>
    
      
    <div class="grid_13" style='margin-top:10px;'>
        {% include "production/list.html" %}
    </div>
    <div class="grid_10 prefix_1" style='margin-top:30px;'>
        {% include "production/search.html" %}
    </div>
    <div class="clear"></div>
    
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.simplemodal.1.4.1.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/sprintf.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/plots.js"></script>
{% endblock %}

