{% extends "base.html" %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/modal.css")?>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/tablesorter.css")?>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/notice.css")?>
{% endblock %}

{% block title %}ODM | PDSF Users{% endblock %}

{% block content %}
<div class = "grid_24">
     <h2>
         Daya Bay PDSF Users
         <input type='submit' id='hide_jobs_table' value='Hide Table' class='hidden'
            style='float: right; font-size: 12px; margin-right: 10px;' />
    </h2>
</div>    
<div class="clear"></div>

<div class = "grid_24">          
    <table id='table_pdsf_jobs' class='tablesorter hidden'>
        <thead><tr>
            <th>Job ID</th>
            <th>Priority</th>
            <th>Name</th>
            <th>User</th>
            <th>State&nbsp;&nbsp;</th>
            <th>Started at [PST]</th>
            <th>Queue</th>
        </tr></thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="clear"></div>

<div class = "grid_14" style='margin-top:10px;'>          
    <table id='table_pdsf_users' class='tablesorter'>
        <thead><tr>
            <th>User ID&nbsp;</th>
            <th>User Name&nbsp;</th>
            <th>Full Name&nbsp;</th>
            <th># Jobs&nbsp;</th>
            <th>r&nbsp;&nbsp;&nbsp;</th>
            <th>qw&nbsp;&nbsp;</th>
        </tr></thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="grid_7 prefix_2 suffix_1 draggable notepad" style='margin-top:10px;'>    
    <h3>Actions</h3>
    <ul>
        <li><button id='btn_all_users'>Refresh User Job Info ...</button></li>
        <li><button class='show_div' id='commands_batch_queue'>Toggle Batch Queue Details ...</button></li>
        <li><button id='btn_pdsf_logout'>Log out PDSF ...</button></li>
    </ul>
    
    <div class='hidden commands_batch_queue'>
        <h3 style='margin-top:30px;'>Batch Queue Info</h3>
        <ul>
            <li><button class='command' command='/sge/sgeusers'>Batch Queue Summary</button></li>
            <li><button class='command' command='/sge/getIOlimits'>I/O Resource Usage</button></li>
            <li><button class='command' command='/sge/qacct -P dayabay -j'>Daya Bay Recent Jobs</button></li>
        </ul>
    </div>


    <table id='table_pdsf_group_dayabay' style='margin-top:30px;'>
        <thead><tr>
           <th colspan="2" style='text-align: center;'>Daya Bay Group on PDSF</th>
        </tr></thead>
        <tbody>
            <tr><td class='descr'>Group Name</td><td class='value' id='gname'>dayabay</td></tr>
            <tr><td class='descr'>Group ID</td><td class='value' id='gid'>41120</td></tr>
            <tr><td class='descr'>Fiscal Year</td><td class='value' id='fiscal_year'>2011</td></tr>
        </tbody>
    </table>
    
</div>
<div class="clear"></div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.simplemodal.1.4.1.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.notice.js"></script>
<script src="http://newt.nersc.gov/js/newt.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/pdsf.js"></script>
{% endblock %}

